.advantages__head {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 94rem;
  margin: 0 auto 6rem;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .advantages__head {
    margin-bottom: 4.4rem;
  }
}
@media screen and (max-width: 767px) {
  .advantages__head {
    margin-bottom: 3rem;
  }
}
.advantages__title {
  margin: 0;
  font-weight: 700;
  font-size: var(--fs-h2);
}
.advantages__subtitle {
  font-size: var(--fs-h3);
  line-height: 1.4;
}
@media screen and (max-width: 767px) {
  .advantages__list {
    width: calc(100% + 3.2rem);
    margin: 0 -1.6rem;
    padding: 0 1.6rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem 2rem;
    counter-reset: ordered-list;
  }
}
@media screen and (min-width: 992px) {
  .advantages__list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 6rem 4rem;
  }
}
.advantages__slider {
  overflow: visible;
}
@media screen and (min-width: 768px) {
  .advantages__slider, .advantages__slider-wrapper, .advantages__slider-slide {
    display: contents;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    position: relative;
    padding-left: 6.8rem;
    counter-increment: ordered-list;
  }
  .advantages__item::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    color: var(--color-white);
    font-weight: 700;
    font-size: var(--fs-h3);
    line-height: 1;
    background-color: var(--color-primary);
    border-radius: 50%;
    content: counter(ordered-list);
    pointer-events: none;
  }
}
.advantages__footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}
@media screen and (max-width: 767px) {
  .advantages__footer {
    margin-top: 3rem;
  }
}
.advantages__button {
  align-self: center;
}
@media screen and (max-width: 767px) {
  .advantages__button {
    align-self: stretch;
  }
}
.advantages__pagination {
  margin-top: 1.6rem;
}
@media screen and (min-width: 768px) {
  .advantages__pagination {
    display: none;
  }
}

.advantages-card__title {
  margin-top: 0;
  margin-bottom: 1.6rem;
  font-weight: 700;
  font-size: var(--fs-h3);
}
.advantages-card__text {
  font-size: var(--fs-t1);
  line-height: 1.4;
}