@media screen and (max-width: 991px) {
  .cards-slider {
    width: calc(100% + 4rem);
    margin: 0 -2rem;
    padding: 0 2rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .cards-slider {
    width: calc(100% + 3.2rem);
    margin: 0 -1.6rem;
    padding: 0 1.6rem;
  }
}
@media screen and (max-width: 991px) {
  .cards-slider__slider {
    overflow: visible;
  }
}
.cards-slider__pagination {
  margin-top: 2rem;
}

.cards-slider-card {
  width: 100%;
}
.cards-slider-card__image {
  position: relative;
  height: 14rem;
  margin-bottom: 2rem;
  overflow: hidden;
  background-color: var(--color-gray-lighter);
  border: 2px solid var(--color-gray-light);
  border-radius: 0.6rem;
}
.cards-slider-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: opacity;
}
@media (hover: hover) {
  .cards-slider-card__image img:hover {
    opacity: 0.75;
  }
}
.cards-slider-card__title {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: var(--fs-t1);
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: color;
  color: var(--color-primary);
}
.cards-slider-card__title:link, .cards-slider-card__title:visited {
  color: var(--color-primary);
}
@media (hover: hover) {
  .cards-slider-card__title:hover {
    color: var(--color-primary-dark);
  }
  .cards-slider-card__title:hover:link, .cards-slider-card__title:hover:visited {
    color: var(--color-primary-dark);
  }
}