.document {
  font-size: var(--fs-t2);
  line-height: 1.4;
}
.document ol {
  margin: 1em 0;
  padding: 0;
  list-style: none;
  counter-reset: item;
}
.document ol > li {
  position: relative;
  padding-left: 3rem;
  counter-increment: item;
}
.document ol > li::before {
  position: absolute;
  top: calc(var(--fs-t2) * 1.4 / 2);
  right: calc(100% - 2.6rem);
  font-weight: 700;
  transform: translateY(-50%);
  content: counters(item, ".") ". ";
}
.document ol > li:not(:last-child) {
  margin-bottom: 2em;
}
.document ul {
  list-style: disc;
}
.document li li:not(:last-child) {
  margin-bottom: 0;
}
.document p {
  margin: 1em 0;
}
.document a {
  color: var(--color-primary);
  text-decoration: underline;
}
.document a:link, .document a:visited {
  color: var(--color-primary);
}
@media (hover: hover) {
  .document a:hover {
    color: var(--color-primary-dark);
  }
  .document a:hover:link, .document a:hover:visited {
    color: var(--color-primary-dark);
  }
}