@media screen and (min-width: 768px) {
  .onboarding-digits {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .onboarding-digits {
    gap: 3rem;
  }
}
@media screen and (max-width: 767px) {
  .onboarding-digits {
    width: calc(100% + 3.2rem);
    margin: 0 -1.6rem;
    padding: 0 1.6rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .onboarding-digits__slider {
    overflow: visible;
  }
}
@media screen and (min-width: 768px) {
  .onboarding-digits__slider, .onboarding-digits__slider-wrapper, .onboarding-digits__slide {
    display: contents;
  }
}
.onboarding-digits__pagination {
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .onboarding-digits__pagination {
    display: none;
  }
}

.od-card {
  display: flex;
  flex-direction: column;
}
.od-card__head {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 17rem;
  padding: 2rem 2rem 4rem;
  border: 2px solid var(--color-primary);
  border-radius: 0.6rem;
}
@media screen and (max-width: 991px) {
  .od-card__head {
    gap: 0.6rem;
    min-height: 16.2rem;
    padding: 2rem 2rem 3rem;
  }
}
@media screen and (max-width: 767px) {
  .od-card__head {
    min-height: unset;
  }
}
.od-card__image img {
  display: block;
  width: auto;
  max-height: 5rem;
  object-fit: contain;
}
@media screen and (max-width: 991px) {
  .od-card__image img {
    max-height: 4rem;
  }
}
.od-card__stars {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.od-card__stars svg {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-primary);
}
.od-card__digit-block {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.od-card__prefix {
  font-weight: 700;
  font-size: var(--fs-t1);
}
.od-card__digit {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 4rem;
  line-height: 1;
}
@media screen and (max-width: 991px) {
  .od-card__digit {
    font-size: 3rem;
  }
}
.od-card__title {
  margin: 0;
  font-weight: 700;
  font-size: var(--fs-t1);
  text-align: center;
}
.od-card__icon {
  position: absolute;
  top: calc(100% - 3rem);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 9rem;
  background-color: var(--color-white);
  border-radius: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 991px) {
  .od-card__icon {
    top: calc(100% - 2rem);
    width: 6rem;
    height: 6rem;
  }
}
.od-card__icon svg {
  display: block;
  width: 4rem;
  height: 4rem;
  fill: var(--color-primary);
}
@media screen and (max-width: 991px) {
  .od-card__icon svg {
    width: 3rem;
    height: 3rem;
  }
}
.od-card__icon-decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.2rem;
  overflow: hidden;
  pointer-events: none;
}
@media screen and (max-width: 991px) {
  .od-card__icon-decoration {
    height: 2.2rem;
  }
}
.od-card__icon-decoration::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  content: "";
}
@media screen and (max-width: 991px) {
  .od-card__icon-decoration::before {
    height: 6rem;
  }
}
.od-card__text-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: 3rem;
  padding: 4rem;
  background-color: var(--color-gray-lighter);
  border-radius: 0.6rem;
}
@media screen and (max-width: 991px) {
  .od-card__text-block {
    margin-top: 2rem;
    padding: 3rem 2rem 2rem;
  }
}
.od-card__text {
  font-size: var(--fs-t2);
  line-height: 1.4;
  text-align: center;
}