@charset "UTF-8";
.reviews {
  position: relative;
  padding: 0 6rem;
}
@media screen and (max-width: 991px) {
  .reviews {
    width: calc(100% + 4rem);
    margin: 0 -2rem;
    padding: 0 2rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .reviews {
    width: calc(100% + 3.2rem);
    margin: 0 -1.6rem;
    padding: 0 1.6rem;
  }
}
@media screen and (max-width: 991px) {
  .reviews__slider {
    overflow: visible;
  }
}
.reviews__slide {
  position: relative;
  padding-top: 1.6rem;
}
.reviews__slide::before {
  position: absolute;
  top: -2rem;
  left: 50%;
  color: var(--color-gray-light);
  font-size: 14rem;
  line-height: 1;
  transform: translateX(-50%);
  content: "“";
  pointer-events: none;
}
.reviews__navigation {
  position: absolute;
  top: calc(50% - 1.7rem);
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
@media screen and (max-width: 991px) {
  .reviews__navigation {
    display: none;
  }
}
.reviews__pagination {
  margin-top: 2.4rem;
}
@media screen and (max-width: 991px) {
  .reviews__pagination {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .reviews__pagination {
    margin-top: 1.6rem;
  }
}

.reviews-card {
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 2rem;
  text-align: center;
  background-color: var(--color-gray-lighter);
  border-radius: 0.6rem;
}
.reviews-card--light {
  background-color: var(--color-white);
}
.reviews-card__image {
  position: relative;
  flex-shrink: 0;
  width: 7rem;
  height: 7rem;
  margin: 0 auto 1rem;
  overflow: hidden;
  border-radius: 50%;
}
.reviews-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews-card__head {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 2.4rem;
  padding-bottom: 2.4rem;
}
.reviews-card__head::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 12rem;
  height: 2px;
  background-color: var(--color-gray);
  transform: translateX(-50%);
  content: "";
  pointer-events: none;
}
.reviews-card__title {
  margin: 0;
  font-weight: 700;
  font-size: var(--fs-t1);
}
.reviews-card__position {
  color: var(--color-gray);
  font-size: var(--fs-t3);
  font-style: italic;
}
.reviews-card__additional {
  font-size: var(--fs-t3);
}
.reviews-card a.reviews-card__additional, .reviews-card__additional a {
  color: var(--color-primary);
  transition-duration: 0.3s;
  transition-property: color;
}
.reviews-card a.reviews-card__additional:link, .reviews-card a.reviews-card__additional:visited, .reviews-card__additional a:link, .reviews-card__additional a:visited {
  color: var(--color-primary);
}
@media (hover: hover) {
  .reviews-card a.reviews-card__additional:hover, .reviews-card__additional a:hover {
    text-decoration: none;
    color: var(--color-primary-dark);
  }
  .reviews-card a.reviews-card__additional:hover:link, .reviews-card a.reviews-card__additional:hover:visited, .reviews-card__additional a:hover:link, .reviews-card__additional a:hover:visited {
    color: var(--color-primary-dark);
  }
}
.reviews-card__text {
  font-size: var(--fs-t2);
}
.reviews-card__text a {
  color: var(--color-primary);
  transition-duration: 0.3s;
  transition-property: color;
}
.reviews-card__text a:link, .reviews-card__text a:visited {
  color: var(--color-primary);
}
@media (hover: hover) {
  .reviews-card__text a:hover {
    text-decoration: none;
    color: var(--color-primary-dark);
  }
  .reviews-card__text a:hover:link, .reviews-card__text a:hover:visited {
    color: var(--color-primary-dark);
  }
}