extends /src/layouts/main

block content
  +onboarding({
    title: "Получайте в <b>3</b> раза больше клиентов с вашего сайта за счет взрывного роста SEO-трафика",
    subtitle: "Платформа автоматизации продвижения —<br>полный список точек роста и все инструменты для выхода в ТОП в одном интерфейсе.",
    items: blocks.onboarding
  })
  +section({
    hiddenTitle: "О сервисе «Пиксель Тулс»"
  })
    +onboarding-digits({
      items: [
        {
          image: "./assets/images/decoration/onboarding-reviews.webp",
          stars: true,
          title: "5/5 от 100 000+ пользователей",
          text: "Более 228 782 пользователя уже увеличили трафик на свои проекты",
          icon: "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M20.37 11.03a2.62 2.62 0 1 0-3 0c-.58.2-1.1.51-1.55.91a5.87 5.87 0 0 0-2.13-1.16 3.32 3.32 0 1 0-3.43 0c-.78.24-1.5.63-2.1 1.15-.44-.4-.96-.7-1.53-.9a2.62 2.62 0 1 0-3 0 4.6 4.6 0 0 0-3.1 4.35v.3l.02.02H6.1c-.03.25-.05.5-.05.77v.3a2.41 2.41 0 0 0 2.42 2.42h7.03a2.41 2.41 0 0 0 2.41-2.42v-.3c0-.26-.02-.52-.05-.77h5.59l.02-.02v-.3c-.01-2.01-1.3-3.72-3.1-4.35Zm-3.4-2.14a1.9 1.9 0 1 1 1.93 1.89h-.07a1.89 1.89 0 0 1-1.86-1.9Zm-7.6-.95a2.6 2.6 0 1 1 2.75 2.59h-.3a2.6 2.6 0 0 1-2.44-2.59Zm-6.15.95a1.9 1.9 0 1 1 1.93 1.89h-.07a1.9 1.9 0 0 1-1.86-1.9Zm3 6.08H1.28a3.88 3.88 0 0 1 3.82-3.46h.05c.95 0 1.81.35 2.48.92a5.96 5.96 0 0 0-1.4 2.54Zm10.96 1.8a1.7 1.7 0 0 1-1.7 1.7H8.47a1.7 1.7 0 0 1-1.7-1.7v-.3a5.21 5.21 0 0 1 5.21-5.2h.16a5.21 5.21 0 0 1 5.05 5.2v.3Zm.54-1.8a5.94 5.94 0 0 0-1.38-2.53 3.86 3.86 0 0 1 2.5-.93h.05a3.88 3.88 0 0 1 3.82 3.46h-5Z\"/></svg>"
        },
        {
          prefix: "на",
          digit: "300%",
          title: "рост трафика и заявок",
          text: "После заведения проекта в Пиксель Тулс — трафик и заявки вырастают за счет выявления новых точек роста",
          icon: "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M12.88.91a1.32 1.32 0 0 0-1.76 0A13.1 13.1 0 0 0 7.4 6.48a12.9 12.9 0 0 0-.45 4.87v.07L5.34 13.3c-.26.31-.37.72-.29 1.12l.62 3.01a.9.9 0 0 0 1.42.56l1.71-1.26.08.1c.24.35.64.56 1.07.56h4.12a1.32 1.32 0 0 0 1.07-.55l.08-.1L16.9 18a.9.9 0 0 0 1.43-.56l.62-3c.08-.41-.03-.82-.3-1.13l-1.62-1.9.01-.06a12.9 12.9 0 0 0-.45-4.87A13.1 13.1 0 0 0 12.88.91Zm5.1 13.32-.59 2.88-1.66-1.22c.52-.94.9-2.01 1.12-3.17l1.06 1.24c.07.07.1.17.07.27Zm-3.92 2.17H9.94c-.1 0-.2-.05-.27-.13-.3-.43-.55-.87-.77-1.32h6.2a8.6 8.6 0 0 1-.77 1.32.32.32 0 0 1-.27.13ZM6.1 13.96l1.06-1.24c.22 1.16.6 2.23 1.12 3.17l-1.66 1.22-.6-2.88c-.01-.1.01-.2.08-.27Zm9.97-2.7a11.4 11.4 0 0 1-.56 2.7h-7a11.87 11.87 0 0 1-.15-7.17c.8-2.51 2.5-4.3 3.43-5.14a.33.33 0 0 1 .44 0 12.1 12.1 0 0 1 3.43 5.13c.4 1.27.55 2.9.41 4.48Z\"/><path d=\"M13.76 9.32A2.48 2.48 0 0 0 12 5.07a2.49 2.49 0 1 0 1.76 4.25ZM10.5 7.56a1.49 1.49 0 0 1 2.54-1.05 1.5 1.5 0 1 1-2.55 1.05ZM10.25 21.53a.5.5 0 0 0 .14-.35v-2.3a.5.5 0 1 0-1 0v2.3a.5.5 0 0 0 .86.35ZM12 18.39a.5.5 0 0 0-.5.5v4.4a.5.5 0 1 0 1 0v-4.4a.5.5 0 0 0-.5-.5ZM13.6 18.88v2.3a.5.5 0 0 0 1 0v-2.3a.5.5 0 1 0-1 0Z\"/></svg>"
        },
        {
          digit: "> 210",
          title: "отзывов",
          text: "Более 210 положительных отзывов от довольных клиентов",
          icon: "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path d=\"M21.79 9.46c.42-.4.56-1 .38-1.55a1.5 1.5 0 0 0-1.22-1.03l-5.03-.73a.3.3 0 0 1-.22-.17l-2.25-4.55a1.5 1.5 0 0 0-1.36-.84c-.58 0-1.1.32-1.36.84L8.48 5.98a.3.3 0 0 1-.23.17l-5.02.73A1.5 1.5 0 0 0 2 7.91a1.5 1.5 0 0 0 .38 1.55l3.64 3.55c.07.07.1.17.08.27l-.86 5c-.1.58.14 1.14.6 1.49a1.5 1.5 0 0 0 1.6.11l4.5-2.36a.3.3 0 0 1 .28 0l4.5 2.36a1.52 1.52 0 0 0 2.2-1.6l-.86-5a.3.3 0 0 1 .08-.27l3.64-3.55Zm-4.92 4.02.86 5.01a.3.3 0 0 1-.12.3.3.3 0 0 1-.32.02l-4.5-2.36a1.51 1.51 0 0 0-1.4 0l-4.5 2.36a.3.3 0 0 1-.32-.02.3.3 0 0 1-.12-.3l.86-5c.08-.5-.08-1-.44-1.35L3.23 8.6a.3.3 0 0 1-.07-.31.3.3 0 0 1 .24-.21l5.03-.73c.5-.07.92-.38 1.14-.83l2.25-4.55a.3.3 0 0 1 .27-.17c.06 0 .2.01.27.17l2.25 4.55c.22.45.65.76 1.14.83l5.03.73a.3.3 0 0 1 .24.2.3.3 0 0 1-.08.32l-3.63 3.54c-.36.35-.52.85-.44 1.34Zm2.3-12.05a.6.6 0 0 0-.85.13l-.64.89a.6.6 0 0 0 .98.71l.64-.88a.6.6 0 0 0-.13-.85ZM6.5 2.45l-.65-.89a.6.6 0 0 0-.98.71l.65.89a.6.6 0 1 0 .98-.71ZM2.83 14.18a.6.6 0 0 0-.77-.39l-1.04.34a.6.6 0 0 0 .38 1.15l1.04-.34a.6.6 0 0 0 .39-.76Zm9.26 6.73a.6.6 0 0 0-.6.6v1.1a.6.6 0 1 0 1.2 0v-1.1a.6.6 0 0 0-.6-.6Zm11.07-6.78-1.04-.34a.6.6 0 0 0-.38 1.16l1.04.33a.6.6 0 1 0 .37-1.15Z\"/></svg>"
        }
      ]
    })
  +section({
    mods: ["dark"],
    title: "У вас остались вопросы?",
    subtitle: "<b>Оставьте заявку в течение 2 часов</b>, и наш специалист бесплатно покажет вам 15 возможностей модуля проектов!",
    button: {
      attributes: {
        "data-fancybox": "modal",
        "data-src": "#demo-modal"
      },
      text: "Заказать демонстрацию"
    }
  })
  +section({
    mods: ["border"],
    title: "Дополнительные способы заведения проекта",
    subtitle: "Выберите систему съема позиций для осуществления автоматического переноса проектов, фраз и истории позиций. Перейдите на новый уровень поисковой аналитики прямо сейчас!",
    button: {
      tag: "a",
      link: "./login.html",
      text: "Перенести проект из другой системы"
    }
  })
    +partners({
      items: [
        {
          logo: "./assets/images/transfer/allpositions.png"
        },
        {
          logo: "./assets/images/transfer/topvisor.svg"
        },
        {
          logo: "./assets/images/transfer/seranking.svg"
        },
        {
          logo: "./assets/images/transfer/seolib.png"
        },
        {
          logo: "./assets/images/transfer/seowork.svg"
        },
        {
          logo: "./assets/images/transfer/excel.svg"
        }
      ]
    })
  +section({
    title: "Или заведите проект вручную",
    subtitle: "Можно использовать другие источники формирования семантического ядра: Google Analytics, панели вебмастеров Яндекса и Google, ручную загрузку, базы запросов.",
    button: {
      tag: "a",
      link: "./login.html",
      text: "Завести проект вручную"
    }
  })

block modals
  +demo-modal
  +success-modal
  +error-modal
