.cards-slider {
  position: relative;

  padding: 0 6rem;

  @include breakpoint(m) {
    width: calc(100% + 4rem);
    margin: 0 -2rem;
    padding: 0 2rem;
    overflow: hidden;
  }

  @include breakpoint(s) {
    width: calc(100% + 3.2rem);
    margin: 0 -1.6rem;
    padding: 0 1.6rem;
  }

  &__slider {
    @include breakpoint(m) {
      overflow: visible;
    }
  }

  &__navigation {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: 0;
    z-index: 1;

    transform: translateY(-50%);

    @include breakpoint(m) {
      display: none;
    }
  }

  &__pagination {
    margin-top: 2rem;
  }
}
