mixin about(props, section)
  - props = props || {}
  +section(section)
    .about.js-about
      .about__slider.swiper.loader
        .about__slider-wrapper.swiper-wrapper
          for item in props.items
            .about__slide.swiper-slide
              +about-card(item)&attributes({class: 'about__card'})
      +slider-pagination&attributes({class: "about__pagination"})
    link(href="./css/about.css" rel="stylesheet")
    script(src='./js/about.js')
