mixin about(props)
  - props = props || {}
  section.about.section
    .about__bg
    .page-container
      .about__content
        .about__text-block
          h1.about__title !{props.title}
          .about__text !{props.text}
          a.about__link(href="./register.html") Присоединяйтесь!
        .about__list
          for item in props.achievements
            +about-card(item)&attributes({
              class: "about__card"
            })
    .page-container
      .about__numbers
        +numbers({
          items: props.numbers
        })
    link(href="./css/about.min.css" rel="stylesheet")
