extends ../../layout/landing

block head
  title О сервисе, команда проекта Пиксель Тулс, публикации и новости системы
  meta(name="description" content="О сервисе, команда проекта Пиксель Тулс, публикации и новости системы")

block content
  +about({
    title: "О сервисе<br>«Пиксель Тулс»",
    text: "<p><b>28 марта 2016 года</b> — день рождения проекта «Пиксель Тулс». Сервис стремительно растёт как по числу довольных пользователей, так и тем возможностям, которые он открывает для SEO-специалистов и интернет-маркетологов.</p><p>Активное развитие системы позволяет предлагать всем пользователям проекта самые современные инструменты автоматизации процессов продвижения сайта и существенно увеличивать производительность работ.</p>",
    achievements: widgets.achievements,
    numbers: widgets.numbers
  })
  +video({
    code: "pjxSU1iWa7o"
  }, {
    mods: ["small"],
    title: "Для чего создан Пиксель Тулс?",
    subtitle: "Смотрите видео из SEO-курса «Бери и делай» от «Пиксель Плюс». Бесплатный доступ для всех пользователей сервиса. Никакой воды, только практика решения реальных SEO-задач.",
    footerText: "<p>После курса: самостоятельное решение 17 самых важных задач по продвижению сайта.<br>Узнать больше в курсе по SEO с нуля «Бери и делай!» от Пиксель Тулс:</p>",
    button: {
      tag: "a",
      link: "https://pixelplus.skillspace.ru/course/10701/about",
      text: "Перейти к курсу",
      attributes: {
        target: "_blank"
      }
    }
  })
  +team({
    items: widgets.team
  }, {
    mods: ["dark"],
    title: "Команда проекта"
  })
  +reviews({
    items: widgets.reviews
  }, {
    title: "Мнения экспертов"
  })
  +section({
    mods: ["dark", "form"],
    title: "Знакомство с сервисом"
  })
    +demo-form({
      buttonText: "Заказать бесплатную демонстрацию"
    })
  +news-list({
    items: [
      {
        date: "24.07.2024",
        title: "Анонс вебинара «Как работать с SERM, улучшение репутации»"
      },
      {
        date: "16.07.2024",
        title: "Добавили API для генерации изображений"
      },
      {
        date: "12.07.2024",
        title: "Добавили в модуль проектов массовые действия"
      }
    ]
  }, {
    title: "Последние новости",
    button: {
      tag: "a",
      text: "Все новости"
    }
  })
  +register({}, {
    mods: ["dark", "form"],
    title: "Для полного функционала — зарегистрируйтесь",
    subtitle: "Уже зарегистрированы? <a href='./login.html'>Войдите</a>",
    tag: "h1",
    attributes: {
      id: "register"
    }
  })
  +offer-modal
  +policy-modal
  +success-modal
  +error-modal
