.register-advantages {
  $block-name: &;

  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 3rem;

  @include breakpoint(s) {
    display: flex;
    flex-direction: column;
  }

  &__image {
    position: relative;
    bottom: -6rem;

    background-image: url("../assets/images/decoration/register-advantages.webp");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    pointer-events: none;

    @include breakpoint(m) {
      bottom: -5rem;
    }

    @include breakpoint(s) {
      display: none;
    }
  }

  &__content {

  }

  &__list {
    @include breakpoint(s) {
      width: calc(100% + 3.2rem);
      margin: 0 -1.6rem;
      padding: 0 1.6rem;
      overflow: hidden;
    }
  }

  &__slider {
    overflow: visible;
  }

  &__slider,
  &__slider-wrapper,
  &__slide {
    @include breakpointMF(m) {
      display: contents;
    }
  }

  &__card {

  }

  &__slide:not(:last-child) #{$block-name}__card {
    @include breakpointMF(m) {
      margin-bottom: 2rem;
    }
  }

  &__pagination {
    margin-top: 2rem;

    @include breakpointMF(m) {
      display: none;
    }
  }

  &__button {
    margin-top: 4rem;
    margin-left: 6rem;

    @include breakpoint(s) {
      width: 100%;
      margin-left: 0;
    }
  }
}
