.checkbox {
  $block-name: &;

  position: relative;

  display: flex;
  gap: 1.2rem;
  align-items: center;

  &__element {
    @include visually-hidden;
  }

  &__fake {
    position: relative;
    top: calc(var(--fs-t1) * 1.3 / 2);

    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    border: 1px solid var(--neutral-200);

    border-radius: 2px;
    transform: translateY(-50%);

    cursor: pointer;

    @include transition(border-color, background-color);

    svg {
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 100%;

      opacity: 0;

      stroke: white;
      stroke-width: 2px;
      stroke-linecap: round;

      @include transition(opacity);
    }
  }

  &--large #{$block-name}__fake {
    width: 2.4rem;
    height: 2.4rem;
  }

  &.--error #{$block-name}__fake {
    border-color: var(--red-700);
  }

  &__element:checked ~ #{$block-name}__fake {
    background-color: #E32D35;
    border-color: #E32D35;

    svg {
      opacity: 1;
    }
  }

  &__label {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .errors {
    display: none;
  }
}
