extends ../../layout/landing

block head
  title Вход в сервис «Пиксель Тулс»
  meta(name="description" content="Вход в сервис «Пиксель Тулс»")

block content
  +login({}, {
    mods: ["form"],
    title: "Вход в «Пиксель Тулс»",
    subtitle: "У вас ещё нет аккаунта? <a href='./register.html'>Зарегистрируйтесь</a>",
    tag: "h1"
  })
  +section({
    mods: ["dark"],
    title: "У вас остались вопросы?",
    subtitle: "<b>Оставьте заявку в течение 2 часов</b>, и наш специалист бесплатно покажет вам 15 возможностей модуля проектов!",
    button: {
      attributes: {
        "data-fancybox": "modal",
        "data-src": "#demo-modal"
      },
      text: "Заказать демонстрацию"
    }
  })
  +demo-modal
  +success-modal
  +error-modal
