extends /src/layout/landing

block content
  +section({
    mods: ["size-xs"],
    title: "Вход в «Пиксель Тулс»",
    subtitle: "У вас ещё нет аккаунта? <a href='./register.html'>Зарегистрируйтесь</a>",
    tag: "h1"
  })
    +form-wrapper
      +login-form
  +section({
    mods: ["dark"],
    title: "У вас остались вопросы?",
    subtitle: "<b>Оставьте заявку в течение 2 часов</b>, и наш специалист бесплатно покажет вам 15 возможностей модуля проектов!",
    button: {
      attributes: {
        "data-fancybox": "modal",
        "data-src": "#demo-modal"
      },
      text: "Заказать демонстрацию"
    }
  })

block modals
  +demo-modal
  +success-modal
  +error-modal
