.burger-menu {
  $block-name: &;

  color: var(--color-white);

  background-color: var(--color-gray-darker);
  border-bottom: 1px solid var(--color-gray-dark);

  &__list {
    overflow: hidden;

    font-size: 1.4rem;
  }

  &__item {
    @include transition(color);
  }

  &__item-controls {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;

    a {
      text-decoration: none;
    }
  }

  &__item.--active > #{$block-name}__item-controls {
    color: var(--color-primary);
  }

  // 2-й уровень
  &__item #{$block-name}__item #{$block-name}__item-controls {
    padding: 1rem 2rem 1rem 3.6rem;

    background-color: rgba(255, 255, 255, 0.1);
  }

  // 3-й уровень
  &__item #{$block-name}__item #{$block-name}__item #{$block-name}__item-controls {
    padding: 1rem 2rem 1rem 5.2rem;

    background-color: rgba(255, 255, 255, 0.15);
  }

  // 4-й уровень
  &__item #{$block-name}__item #{$block-name}__item #{$block-name}__item #{$block-name}__item-controls {
    padding: 1rem 2rem 1rem 6.8rem;

    background-color: rgba(255, 255, 255, 0.25);
  }

  &__arrow {
    padding: 0;

    color: inherit;

    font: inherit;

    background: none;
    border: none;

    @include transition(color);

    svg {
      display: block;
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &__item.--active > #{$block-name}__item-controls #{$block-name}__arrow svg {
    transform: rotate(180deg);
  }

    // 2-й уровень
  &__item #{$block-name}__item #{$block-name}__item-controls #{$block-name}__arrow svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  // 3-й уровень
  &__item #{$block-name}__item #{$block-name}__item #{$block-name}__item-controls #{$block-name}__arrow svg {
    width: 1rem;
    height: 1rem;
  }
}
