mixin burger-menu(props)
  - props = props || {}
  .burger-menu&attributes(attributes)
    +burger-menu-list(props.items)

mixin burger-menu-list(items)
  -
  .burger-menu__list&attributes(attributes)
    for item in items
      .burger-menu__item.js-accordion(data-close-other="")
        .burger-menu__item-controls
          a(href="#")=item.name
          if item.items
            button.burger-menu__arrow.js-accordion-button(type="button" aria-label="Раскрыть меню")
              i.bi-chevron-compact-down
        if item.items
          +burger-menu-list(item.items)&attributes({
            class: "js-accordion-panel",
            style: "height: 0;"
          })
