.burger-menu {
  $block-name: &;

  color: var(--neutral-800);

  background-color: var(--white);
  box-shadow: 0 0 1rem rgba(#9D9D9D, 0.4);

  &__list {
    overflow: hidden;

    font-size: 1.4rem;
  }

  &__item {
    @include transition(color);
  }

  &__item-controls {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;

    a {
      text-decoration: none;
    }
  }

  &__item.--active {
    background-color: #F4F4F4;
  }

  // 2-й уровень
  &__item #{$block-name}__item #{$block-name}__item-controls {
    padding: 1.2rem 2rem 1.2rem 3.6rem;
  }

  // 3-й уровень
  &__item #{$block-name}__item #{$block-name}__item #{$block-name}__item-controls {
    padding: 1.2rem 2rem 1.2rem 5.6rem;
  }

  // 4-й уровень
  &__item #{$block-name}__item #{$block-name}__item #{$block-name}__item #{$block-name}__item-controls {
    padding: 1.2rem 2rem 1.2rem 7.6rem;
  }

  &__arrow {
    padding: 0;

    color: #C4C4C4;

    font-size: 2rem;

    background: none;
    border: none;

    @include transition(color);

    i {
      @include transition(transform);
    }

    i,
    i::before {
      display: block;
    }
  }

  &__item.--active > #{$block-name}__item-controls #{$block-name}__arrow i {
    transform: rotate(180deg);
  }
}
