:root {
  --header-height: 7rem;

  @include breakpoint(m) {
    --header-height: 5rem;
  }
}

.header {
  $block-name: &;

  color: var(--white);

  background-color: var(--neutral-800);

  &__inner {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    min-height: 7rem;

    @include breakpoint(m) {
      gap: 1.2rem;
      min-height: 5rem;
    }
  }

  &__logo {
    flex-shrink: 0;

    @include breakpointMF(l) {
      order: 1;
    }

    img {
      display: block;
      width: 17.2rem;
      height: auto;
      object-fit: contain;

      @include breakpoint(m) {
        width: 14rem;
      }

      @include breakpoint(s) {
        width: 12rem;
      }
    }
  }

  a#{$block-name}__logo,
  &__logo a {
    text-decoration: none;

    @include transition(opacity);

    @include hover {
      opacity: 0.8;
    }
  }

  &__menu {
    margin-right: auto;

    @include breakpointMF(l) {
      order: 3;
    }
  }

  &__controls-wrapper {
    display: flex;
    gap: 2.4rem;
    align-items: center;

    @include breakpointMF(l) {
      display: contents;
    }
  }

  &__notifications-dropdown {
    @include breakpointMF(l) {
      order: 2;
    }
  }

  &__controls {
    display: flex;
    flex-shrink: 0;
    gap: 3rem;
    align-items: center;

    @include breakpointMF(l) {
      order: 4;
    }

    @include breakpoint(m) {
      gap: 2.4rem;
    }
  }

  &__user-dropdown {

  }

  &__search {
    flex-shrink: 0;
  }

  &__control {
    display: block;
    flex-shrink: 0;
    padding: 0;

    text-decoration: none;

    background: none;
    border: none;

    @include color(inherit);

    @include transition(color);

    @include hover {
      @include color(var(--primary-600));
    }

    svg {
      display: block;
      width: 1.8rem;
      height: 1.8rem;

      @include breakpoint(m) {
        width: 1.6rem;
        height: 1.6rem;
      }

      &:nth-child(2) {
        display: none;
      }
    }

    &.--active {
      color: var(--primary-600);

      svg {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: block;
        }
      }
    }

    &--show-on-tablet {
      @include breakpointMF(l) {
        display: none;
      }
    }
  }

  &__search {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    transform: translateY(-1rem);
    visibility: hidden;
    opacity: 0;

    pointer-events: none;

    @include transition(opacity, visibility, transform);

    &.--active {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;

      pointer-events: all;
    }
  }

  &__burger-menu {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;

    width: 100%;
    max-height: calc(100vh - 5rem - 1px);
    max-height: calc(100svh - 5rem - 1px);
    overflow: auto;

    transform: translateY(-1rem);
    visibility: hidden;
    opacity: 0;

    pointer-events: none;

    @include transition(opacity, visibility, transform);

    @include breakpointMF(l) {
      display: none;
    }

    &.--active {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;

      pointer-events: all;
    }
  }
}
