.notifications-dropdown {
  position: relative;

  $block-name: &;

  &__button {
    position: relative;

    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0;

    color: var(--white);
    font-size: 1.8rem;

    background: none;
    border: none;

    @include transition(color);

    @include breakpoint(s) {
      font-size: 1.6rem;
    }

    &[data-counter]::after {
      position: absolute;
      top: -0.6rem;
      right: -1rem;

      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 1.6rem;
      height: 1.6rem;
      padding: 0 0.1rem;

      color: var(--white);
      font-weight: 700;
      font-size: 1rem;
      line-height: 1;

      background-color: var(--primary-600);
      border-radius: 0.7rem;

      content: attr(data-counter);
      pointer-events: none;

      @include transition(color, background-color);
    }

    i,
    i::before {
      display: block;
    }

    @include hover {
      color: var(--primary-600);

      &::after {
        color: var(--primary-600);

        background-color: var(--white);
      }
    }
  }

  &.--active #{$block-name}__button {
    color: var(--primary-600);

    &::after {
      color: var(--primary-600);

      background-color: var(--white);
    }
  }

  &__panel {
    position: absolute;
    top: calc(100% + 1rem);
    left: -2rem;
    z-index: 2;

    width: 52rem;

    color: var(--neutral-800);

    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(-1rem);
    visibility: hidden;
    opacity: 0;

    pointer-events: none;

    @include transition(opacity, visibility, transform);

    @include breakpoint(m) {
      right: -12.2rem;
      left: unset;
    }

    @include breakpoint(s) {
      max-width: 28rem;
    }

    &::after {
      position: absolute;
      bottom: 100%;
      left: 2.3rem;

      border: solid transparent 0.6rem;
      border-bottom-color: var(--white);

      content: '';
      pointer-events: none;

      @include breakpoint(m) {
        right: 12.5rem;
        left: unset;
      }
    }
  }

  &.--active #{$block-name}__panel {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;

    pointer-events: all;
  }

  &__controls {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 1.6rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--neutral-200);
    }
  }

  &__control {
    display: flex;
    gap: 1rem;
    align-items: center;

    font-size: var(--fs-t3);

    @include transition(color);

    @include hover {
      color: var(--primary-900);
    }

    svg {
      display: block;
      width: 1.6rem;
      height: 1.6rem;
    }

    &--settings {
      text-decoration: none;

      svg {
        fill: var(--neutral-400);
      }
    }

    &--clear {
      padding: 0;

      color: var(--primary-600);

      background: none;
      border: none;
    }
  }

  &__list {
    max-height: 50rem;
    overflow: auto;

    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}
