.search-form {
  padding: 1.6rem 0;

  background-color: var(--white);
  box-shadow: 0 0 1rem rgba(#9D9D9D, 0.4);

  @include breakpoint(s) {
    padding: 1rem 0;
  }

  &__form {
    position: relative;
    
    max-width: 80rem;
    margin: 0 auto;

    @include breakpoint(m) {
      max-width: unset;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.9rem 1.2rem 0.9rem 4rem;

    font-size: 1.6rem;

    background: none;
    border: 1px solid #DCDCDC;
    border-radius: var(--border-radius);

    &::placeholder {
      color: #909090;
      font: inherit;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 1.2rem;

    display: block;
    padding: 0;

    color: var(--primary-600);

    font-size: 2rem;

    background: none;
    border: none;

    transform: translateY(-50%);

    @include transition(color);

    @include hover {
      color: var(--primary-900);
    }

    i,
    i::before {
      display: block;
    }
  }
}
