.search-form {
  padding: 2rem 0;

  background-color: var(--neutral-700);

  @include breakpoint(m) {
    padding: 1.6rem 0;
  }

  @include breakpoint(s) {
    padding: 1rem 0;
  }

  &__form {
    max-width: 64rem;
    margin: 0 auto;

    @include breakpoint(m) {
      max-width: unset;
    }
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0 0 1rem;

    color: var(--white);
    font-size: var(--fs-t3);
    text-align: center;

    background: none;
    border: none;
    border-bottom: 1px solid var(--neutral-600);

    @include transition(border-color);

    @include breakpoint(m) {
      padding-bottom: 0.6rem;
    }

    &::placeholder {
      color: var(--neutral-400);
      font: inherit;

      @include transition(color);
    }

    @include hover {
      border-color: var(--neutral-400);

      &::placeholder {
        color: var(--neutral-600);
      }
    }

    &:focus {
      border-color: var(--neutral-400);

      &::placeholder {
        color: var(--neutral-600);
      }
    }
  }
}
