extends /src/layouts/main

block content
  +section({
    mods: ["border"],
    title: "UI Kit",
    tag: "h1"
  })
    p По умолчанию некоторые теги уже имеют браузерные стили (normalize.css)
    ul
      li Шрифт – <a target="_blank" href="https://fonts.google.com/specimen/Open+Sans"><b>Open Sans</b></a>
      li Стандартный размер шрифта – <b>16px</b>
      li Толщина шрифта – <b>400 (normal)</b>
      li Интерлиньяж (line-height) – <b>140% (1.4)</b>
      li Цвет текста – <b>#333333 (neutral-800)</b>
      li Цвет бренда - <b style="color: #e32d35;">#e32d35 (primary-600)</b>
  +section({
    mods: ["border"],
    title: "Навигация",
    subtitle: "Может помочь браузерный поиск <b>Ctrl + F</b>. У большинства компонентов есть теги для быстрого поиска"
  })
    ol
      li
        a(href="#colors") Цвета
      li
        a(href="#typography") Типографика
      li
        a(href="#layout") Лейаут
      li
        a(href="#components") Компоненты
      li
        a(href="#vue-components") Vue-компоненты
      li
        a(href="#blocks") Блоки
      li
        a(href="#sprite") SVG-спрайт
      li
        a(href="#modals") Модальные окна
  +section({
    mods: ["border"],
    title: "Цвета"
  })&attributes({
    id: "colors"
  })
    +ui-component({
      title: "Цвета"
    })
      +slot("content")
        +tabs({
          tabs: [
            {
              key: "preview",
              name: "Просмотр"
            },
            {
              key: "css",
              name: "CSS"
            },
            {
              key: "html",
              name: "HTML"
            }
          ]
        })
          +slot("preview")
            +ui-colors(colors)
          +slot("css")
            +code-snippet({
              lang: "css"
            })
              | button {
              |   color: var(--primary-600);
              | }
          +slot("html")
            +code-snippet({
              lang: "html"
            })
              | <div class="text-primary-600 bg-neutral-200">Серый фон, красный текст</div>
  +section({
    mods: ["border"],
    title: "Типографика"
  })&attributes({
    id: "typography"
  })
    .row.row-2.gap-xl
      .col
        h1 Headline H1 40px 120%
        h2 Headline H2 32px 120%
        h3 Headline H3 24px 120%
        h4 Headline H4 20px 120%
      .col
        .t1 Body text 18px 140%
        .t2 Body text 16px 140%
        .t3 Body text 14px 140%
        .t4 Body text 12px 140%
      .col
  +section({
    mods: ["border"],
    title: "Лейаут",
    subtitle: "1380px"
  })&attributes({
    id: "layout"
  })
    .row.row-12.gap-l(style='min-height: 20rem;')
      for _ in Array(12)
        .col.bg-neutral-200
  +section({
    mods: ["border"],
    title: "Компоненты",
    subtitle: "Неотъемлемая часть сайта"
  })&attributes({
    id: "components"
  })
    .d-flex.flex-column.gap-xl
      include /src/ui/button/preview/index
      include /src/ui/select/preview/index
  +section({
    mods: ["border"],
    title: "Vue-компоненты"
  })&attributes({
    id: "vue-components"
  })
    .d-flex.flex-column.gap-xl
      include /src/ui/vue-app/preview/index
      +ui-component({
        title: "Стилизация PrimeVue"
      })
        +slot("content")
          +tabs({
            tabs: [
              {
                key: "compare",
                name: "Сравнение"
              }
            ]
          })
            +slot("compare")
              .row.row-2.mb-3
                .col HTML + JS
                .col PrimeVue
                .col
                  form.form.js-validation
                    include /src/ui/select/preview/preview
                    button(type="submit") Отправить
                .col
                  +vue-app({
                    name: "ui-compare",
                    initialProps: {
                      cities: [
                        {
                          "label": "Москва",
                          "value": "213"
                        },
                        {
                          "label": "Санкт-Петербург",
                          "value": "2"
                        },
                        {
                          "label": "Екатеринбург",
                          "value": "54"
                        },
                        {
                          "label": "Казань",
                          "value": "43"
                        },
                        {
                          "label": "Нижний Новгород",
                          "value": "47"
                        },
                        {
                          "label": "Новосибирск",
                          "value": "65"
                        },
                        {
                          "label": "Омск",
                          "value": "66"
                        },
                        {
                          "label": "Ростов-на-Дону",
                          "value": "39"
                        },
                        {
                          "label": "Самара",
                          "value": "51"
                        },
                        {
                          "label": "Уфа",
                          "value": "172"
                        }
                      ]
                    }
                  })
  +section({
    mods: ["border"],
    title: "Блоки",
    subtitle: "Независимые секции"
  })&attributes({
    id: "blocks"
  })
    +cards-slider({
      items: ui.blocks,
    })
  +section({
    mods: ["border"],
    title: "SVG-спрайт"
  })&attributes({
    id: "sprite"
  })
    include /src/ui/icon/preview/index
  +section({
    mods: ["border"],
    title: "Модальные окна"
  })&attributes({
    id: "modals"
  })
    include /src/ui/modal/preview/index

block modals
  +offer-modal
  +policy-modal
  +demo-modal
  +success-modal
  +error-modal
  +warning-modal
  +reset-password-success-modal
