mixin register-advantages(props, section)
  - props = props || {}
  +section(section)
    .register-advantages
      .register-advantages__image
      .register-advantages__content
        .register-advantages__list.js-register-advantages
          .register-advantages__slider.swiper
            .register-advantages__slider-wrapper.swiper-wrapper
              for item in props.items
                .register-advantages__slide.swiper-slide
                  +ra-card(item)&attributes({
                    class: "register-advantages__card"
                  })
          +slider-pagination&attributes({class: "register-advantages__pagination"})
        +button({
          tag: "a",
          link: props.anchor
        })&attributes({
          class: "register-advantages__button"
        }) Зарегистрироваться за 30 секунд
    link(href="./css/register-advantages.min.css" rel="stylesheet")
    script(src="./js/register-advantages.min.js")
