+select({
  required: true,
  options: [
    {
      label: "Регион продвижения",
      value: ""
    },
    {
      "label": "Москва",
      "value": "213"
    },
    {
      "label": "Санкт-Петербург",
      "value": "2"
    },
    {
      "label": "Екатеринбург",
      "value": "54"
    },
    {
      "label": "Казань",
      "value": "43"
    },
    {
      "label": "Нижний Новгород",
      "value": "47"
    },
    {
      "label": "Новосибирск",
      "value": "65"
    },
    {
      "label": "Омск",
      "value": "66"
    },
    {
      "label": "Ростов-на-Дону",
      "value": "39"
    },
    {
      "label": "Самара",
      "value": "51"
    },
    {
      "label": "Уфа",
      "value": "172"
    }
  ],
  name: "region"
})
