+modal({
  id: "example-modal",
  title: "Заголовок",
  subtitle: "Подзаголовок",
  caption: "Подпись",
  button: {
    text: "Закрыть",
    attributes: {
      'data-fancybox-close': ''
    }
  }
})
