.scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 0;

  color: var(--neutral-200);

  background: transparent;

  border: 2px solid var(--neutral-200);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;

  pointer-events: none;

  @include transition(opacity, visibility);

  &.--active {
    visibility: visible;
    opacity: 1;

    pointer-events: all;
  }

  svg {
    display: block;
    width: 1.6rem;
    height: 1.6rem;

    fill: currentColor;
  }
}
