.input {
  $block-name: &;

  position: relative;

  display: block;
  width: 100%;

  font-weight: 400;
  font-size: var(--fs-t2);
  line-height: 1;

  &__element {
    display: block;
    width: 100%;
    min-height: 4rem;
    padding: 0.8rem 1.2rem;

    font: inherit;

    background-color: var(--white);

    border: 1px solid var(--neutral-200);
    border-radius: var(--border-radius);

    @include transition(border-color, box-shadow);

    &:focus {
      box-shadow: inset 0 0 1.2rem 0 #ffec81;
    }

    &::placeholder {
      color: #909090;
      font: inherit;
    }
  }

  &--tip #{$block-name}__element {
    padding-right: 3.4rem;
  }

  &.--error #{$block-name}__element {
    border-color: var(--red-700);
  }

  &__tip {
    position: absolute;
    top: 50%;
    right: 1.2rem;

    transform: translateY(-50%);
  }
}
