.form {
  $block-name: &;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @include transition(opacity);

  &.--loading {
    opacity: 0.75;

    pointer-events: none;
  }

  .spinner {
    display: none;
  }

  &.--loading .spinner {
    display: inline-block;
  }
}
