.form {
  $block-name: &;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  @include transition(opacity);

  &--row {
    flex-direction: row;
    justify-content: center;

    @include breakpoint(s) {
      flex-direction: column;
    }
  }

  &.--loading {
    opacity: 0.75;

    pointer-events: none;
  }

  .spinner {
    display: none;
  }

  &.--loading .spinner {
    display: inline-block;
  }
}
