mixin form(props)
  - props = props || {}
  - mods = props.mods ? props.mods.map(mod => `form--${mod}`).join(' ') : null;
  form.form.js-form.js-validation(
    class=mods
    action='#'
    method='post'
  )&attributes(attributes)
    block
