.login {
  $block-name: &;

  &__form {
    padding: 3rem 2rem;

    background-color: var(--color-gray-lighter);
    border-radius: $border-radius;

    @include breakpoint(s) {
      padding: 2rem 1.6rem;
    }
  }

  &--light #{$block-name}__form {
    background-color: var(--color-white);
  }
}
