mixin login(props, section)
  - props = props || {}
  +section(section)
    .login(
      class=(section.mods && section.mods.includes("dark") ? "login--light" : null)
    )
      +login-form&attributes({
        class: "login__form"
      })
    link(href="./css/login.min.css" rel="stylesheet")
