.reviews {
  position: relative;

  padding: 0 6rem;

  @include breakpoint(m) {
    width: calc(100% + 4rem);
    margin: 0 -2rem;
    padding: 0 2rem;
    overflow: hidden;
  }

  @include breakpoint(s) {
    width: calc(100% + 3.2rem);
    margin: 0 -1.6rem;
    padding: 0 1.6rem;
  }

  &__slider {
    @include breakpoint(m) {
      overflow: visible;
    }
  }

  &__slide {
    position: relative;

    padding-top: 1.6rem;

    &::before {
      position: absolute;
      top: -2rem;
      left: 50%;

      color: var(--color-gray-light);

      font-size: 14rem;
      line-height: 1;

      transform: translateX(-50%);

      content: '“';
      pointer-events: none;
    }
  }

  &__navigation {
    position: absolute;
    top: calc(50% - 1.7rem);
    left: 0;
    z-index: 1;

    transform: translateY(-50%);

    @include breakpoint(m) {
      display: none;
    }
  }

  &__pagination {
    margin-top: 2.4rem;

    @include breakpoint(m) {
      margin-top: 2rem;
    }

    @include breakpoint(s) {
      margin-top: 1.6rem;
    }
  }
}
