.reviews-card {
  $block-name: &;

  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 2rem;

  text-align: center;

  background-color: var(--neutral-100);
  border-radius: var(--border-radius);

  @at-root .section--dark &,
  &--light {
    background-color: var(--white);
  }

  &__image {
    position: relative;

    flex-shrink: 0;

    width: 7rem;
    height: 7rem;
    margin: 0 auto 1rem;
    overflow: hidden;

    border-radius: 50%;

    img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__head {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2.4rem;
    padding-bottom: 2.4rem;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;

      display: block;
      width: 12rem;
      height: 2px;

      background-color: var(--neutral-400);

      transform: translateX(-50%);

      content: '';
      pointer-events: none;
    }
  }

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: var(--fs-t2);
  }

  &__position {
    color: var(--neutral-400);
    font-size: var(--fs-t4);
    font-style: italic;
  }

  &__additional {
    font-size: var(--fs-t4);
  }

  a#{$block-name}__additional,
  &__additional a {
    @include color(var(--primary-600));
    @include transition(color);

    @include hover {
      text-decoration: none;

      @include color(var(--primary-900));
    }
  }

  &__text {
    font-size: var(--fs-t3);

    a {
      @include color(var(--primary-600));
      @include transition(color);

      @include hover {
        text-decoration: none;

        @include color(var(--primary-900));
      }
    }
  }
}
