.register-form {
  &__form {

  }

  &__checkbox {
    a {
      @include transition(color);

      @include color(var(--primary-600));

      @include hover {
        @include color(var(--primary-900));
      }
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    @include breakpoint(s) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__control {

  }

  &__socials {
    margin-top: 3rem;
  }
}
