.tabs {
  &__buttons {
    border-bottom: 1px solid var(--neutral-200);
  }

  &__button {
    margin-bottom: -1px;
    padding: 1rem 1.6rem 1rem;

    color: var(--neutral-600);

    font-weight: 600;
    font-size: var(--fs-t3);
    text-decoration: underline;

    background: none;
    border-style: solid;
    border-width: 0.4rem 1px 1px 1px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: var(--neutral-200);
    border-left-color: transparent;
    text-decoration-style: dotted;

    &.--active {
      color: var(--primary-600);
      text-decoration: none;

      background-color: var(--white);
      border-top-color: var(--primary-600);
      border-right-color: var(--neutral-200);
      border-bottom-color: var(--white);
      border-left-color: var(--neutral-200);
      cursor: default;

      pointer-events: none;
    }
  }

  &__panels {
    position: relative;
  }

  &__panel {
    width: 100%;
    margin-top: 1rem;

    &:not(.--active) {
      display: none;
    }
  }
}
