mixin login-modal(props)
  - props = props || {}
  +modal({
    id: "login-modal",
    title: "Вход в «Пиксель Тулс»",
    tip: "Укажите логин и пароль для входа в существующий аккаунт. Если у вас пока нет аккаунта — нажмите на «Зарегистрироваться», это бесплатно и займёт 30 секунд."
  })
    +login-form
