.button {
  display: inline-flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 2rem;

  font-weight: 700;
  font-size: 1.6rem;
  font-family: inherit;
  line-height: 2.2rem;
  text-align: center;
  text-decoration: none;

  background-color: var(--green-800);
  border: 1px solid var(--green-800);
  border-radius: var(--border-radius);

  @include transition(color, border-color, background-color, opacity);
  @include color(var(--white));

  @include hover {
    background-color: var(--green-900);
    border-color: var(--green-900);
  }

  &[disabled] {
    opacity: 0.3;
  }

  &--gray {
    background-color: var(--neutral-200);
    border-color: var(--neutral-200);

    @include color(var(--neutral-800));

    @include hover {
      background-color: var(--green-900);
      border-color: var(--green-900);

      @include color(var(--white));
    }
  }

  &--light {
    background-color: transparent;
    border-color: var(--white);

    @include hover {
      background-color: var(--white);
      border-color: var(--white);

      @include color(var(--neutral-800));
    }
  }

  &--white {
    background-color: var(--white);
    border-color: var(--neutral-200);

    @include color(var(--neutral-800));

    @include hover {
      background-color: var(--neutral-100);
      border-color: var(--neutral-200);
    }
  }

  &--dark {
    background-color: transparent;
    border-color: var(--neutral-800);

    @include color(var(--neutral-800));

    @include hover {
      background-color: var(--white);
      border-color: var(--white);

      @include color(var(--neutral-800));
    }
  }
}
