.button {
  display: inline-flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  min-height: 4.5rem;
  padding: 1rem 2rem;

  font-weight: 600;
  font-size: var(--fs-t1);
  font-family: inherit;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;

  background: none;
  background-color: var(--color-success);
  border: 2px solid var(--color-success);
  border-radius: $border-radius;

  @include transition(color, border-color, background-color);
  @include color(var(--color-white));

  @include hover {
    background-color: var(--color-success-dark);
    border-color: var(--color-success-dark);
  }

  &--gray {
    background-color: var(--color-gray-light);
    border-color: var(--color-gray-light);

    @include color(var(--color-gray-darker));

    @include hover {
      background-color: var(--color-success-dark);
      border-color: var(--color-success-dark);

      @include color(var(--color-white));
    }
  }

  &--light {
    background-color: transparent;
    border-color: var(--color-white);

    @include hover {
      background-color: var(--color-white);
      border-color: var(--color-white);

      @include color(var(--color-gray-darker));
    }
  }

  &--dark {
    background-color: transparent;
    border-color: var(--color-gray-darker);

    @include color(var(--color-gray-darker));

    @include hover {
      background-color: var(--color-white);
      border-color: var(--color-white);

      @include color(var(--color-gray-darker));
    }
  }
}
