mixin cards-slider(props, section)
  - props = props || {}
  +section(section)
    .cards-slider.js-cards-slider
      .cards-slider__slider.swiper.loader
        .cards-slider__slider-wrapper.swiper-wrapper
          for item in props.items
            .cards-slider__slide.swiper-slide
              +cs-card({
                ...item,
                isGallery: props.isGallery,
                mods: section.mods && section.mods.includes("dark") ? item.mods ? [...item.mods, "light"] : ["light"] : item.mods
              }, props.index)
      +slider-navigation&attributes({class: "cards-slider__navigation"})
      +slider-pagination&attributes({class: "cards-slider__pagination"})
    link(href="./css/cards-slider.min.css" rel="stylesheet")
    script(src="./js/cards-slider.min.js")
