+vue-app({
  name: "ui-example",
  loaderText: "Пример загружается...",
  initialProps: {
    foo: "foo",
    bar: [1, 2, 3]
  }
})
  p Контент для индексирования (визуально скрыт)
  p Он автоматически заменится на Vue-приложение после инициализации скриптов
