:root {
  --border-radius: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 10px;

  // Пропорциональный скейл страницы (все значения должны быть в rem!)
  @media screen and (max-width: calc($breakpoint-xxl - 1px)) and (min-width: $breakpoint-l) {
    font-size: 0.7143vw;
  }
}

body {
  color: var(--neutral-800);
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;

  background-color: var(--white);
}

svg {
  overflow: visible;

  transform-origin: center center;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: inherit;
}

.visually-hidden {
  @include visually-hidden;
}
