@mixin transition($properties...) {
  & {
    transition-duration: 0.3s;
    transition-property: $properties;
  }
}

@mixin color($color) {
  & {
    color: $color;
  }

  &:link,
  &:visited {
    color: $color;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin line-clamp($n) {
  -webkit-line-clamp: $n;

  display: -webkit-box;
  -webkit-box-orient: vertical;

  overflow: hidden;
}
