mixin team(props)
  - props = props || {}
  .team.js-team
    .team__slider.swiper.loader
      .team__slider-wrapper.swiper-wrapper
        for item in props.items
          .team__slide.swiper-slide(
            class=(item.mods && item.mods.includes("single") ? "team__slide--single" : null)
          )
            +team-card(item)
    +slider-pagination&attributes({class: "team__pagination"})
  link(href="./css/team.min.css" rel="stylesheet")
  script(src="./js/team.min.js")
