mixin cases(props)
  - props = props || {}
  .cases.js-cases
    .cases__slider.swiper.loader
      .cases__slider-wrapper.swiper-wrapper
        for item in props.items
          .cases__slide.swiper-slide
            +cases-card(item)
    +slider-navigation&attributes({class: "cases__navigation"})
    +slider-pagination&attributes({class: "cases__pagination"})
  link(href="./css/cases.min.css" rel="stylesheet")
  script(src="./js/cases.min.js")
