extends /src/layouts/main

block content
  +section({
    title: "Оферта на оказание информационных услуг в сервисе «Пиксель Тулс»",
    tag: "h1"
  })
    +document
      p 15.07.2024 <a href="">Скачать оферту</a>
      p Российская Федерация, Москва.
      include /src/blocks/document/offer.pug
