extends ../../layout/landing

block head
  title «Пиксель Тулс»
  meta(name="description" content="«Пиксель Тулс»")

block content
  +section({
    title: "Все страницы",
    tag: "h1"
  })
    ul
      li
        a(href="./home.html") Главная
      li
        a(href="./login.html") Вход
      li
        a(href="./reset-password.html") Восстановление пароля
      li
        a(href="./register.html") Регистрация
      li
        a(href="./offer.html") Публичная оферта
      li
        a(href="./policy.html") Политика конфиденциальности
