extends ../../layout/landing

block head
  title Главная
  meta(name="description" content="Главная")

block content
  +intro({
    bg: {
      desktop: "./assets/images/intro/index.jpg",
      mobile: "./assets/images/intro/index-mobile.jpg"
    },
    items: [
      "Рост SEO‑трафика в&nbsp;3+&nbsp;раза",
      "10+ сводок для&nbsp;контроля",
      "Глубокая аналитика"
    ]
  })
  +video({
    title: "Для чего создан Пиксель Тулс?",
    subtitle: "Смотрите видео из SEO-курса «Бери и делай» от «Пиксель Плюс». Бесплатный доступ для всех пользователей сервиса. Никакой воды, только практика решения реальных SEO-задач.",
    video: "pjxSU1iWa7o",
    text: "<p>После курса: самостоятельное решение 17 самых важных задач по продвижению сайта.<br>Узнать больше в курсе по SEO с нуля «Бери и делай!» от Пиксель Тулс:</p>",
    button: {
      tag: "a",
      text: "Перейти к курсу"
    }
  })
  +advantages({
    title: "Основные возможности Пиксель Тулс",
    subtitle: "Облегчаем работу команды SEO‑специалистов",
    items: [
      {
        title: "Рост производительности специалистов",
        text: "<p>SEO‑специалисты, которые работают в системе, точно знают в чём текущие проблемы и какие точки роста есть у сайта? Готовые задачи в TO DO и приоритизация этих задач.</p>"
      },
      {
        title: "Окупаемость в течение 1 месяца",
        text: "<p>За счёт экономии времени специалистов и менеджеров, система окупается в течение первого месяца её использования.</p>"
      },
      {
        title: "Снижение порога входа",
        text: "<p>Готовые сводки, задачи по принципу «бери и делай», оценка потенциала роста и конкурентов. Всё это мы сделали для вас — достаточно завести проект.</p>"
      },
      {
        title: "Простое решение рутинных задач",
        text: "<p>Значимая часть задач по SEO — рутинные и отнимающие много времени. Мы автоматизируем их. Быстрая группировка запросов, диагностика качества оптимизации, и др.</p>"
      },
      {
        title: "Снижение стоимости на подготовку отчетности",
        text: "<p>Модуль подготовки отчетов по проекту позволит в несколько кликов собрать все данные в единый файл: позиции, трафик, динамика, KPI (видимость, CPC, CPA), проведенные работы.</p>"
      },
      {
        title: "Полная и простая аналитика по проекту",
        text: "<p>Наша команда каждый день делает так, чтобы вы получали сложные аналитические сводки и данные в простом и доступном виде.</p>"
      }
    ],
    button: {
      tag: "a",
      text: "Заведите свой проект за 1 минуту"
    }
  })
  +features({
    title: "Что входит в Пиксель Тулс?",
    items: [
      {
        "image": "./assets/images/features/feature-1.webp",
        "title": "Модуль ведения проектов",
        "text": "<p>Модуль ведения проектов объединяет в себе все возможности современной поисковой аналитики. Аналогия: это Google Analytics для SEO-специалистов.</p>"
      },
      {
        "image": "./assets/images/features/feature-2.webp",
        "title": "Глубокая SEO-аналитика",
        "text": "<p>Отдельная часть системы — 15+ готовых отчетов для получения информации о текущем состоянии продвижения и того, что изменилось в последний апдейт?</p>"
      },
      {
        "image": "./assets/images/features/feature-3.webp",
        "title": "Модуль генерации отчетности по проектам",
        "text": "<p>Вы можете брендировать или предоставлять гостевой доступ к отчету, который объединяет в себе данные о позициях, трафике, KPI (видимость, СРС, СРА) и проведенных работах.</p>"
      },
      {
        "image": "./assets/images/features/feature-4.webp",
        "title": "Модуль генерации задач по проектам на основе аналитики",
        "text": "<p>Гордость системы — TO DO. Это список готовых задач, которые нужно просто взять и сделать для роста позиций и трафика. Задачи формируются по итогам анализа страниц сайта.</p>"
      },
      {
        "image": "./assets/images/features/feature-5.webp",
        "title": "50+ инструментов автоматизации",
        "text": "<p>Специалисты знают, что в SEO очень много рутинных задач, которые отнимают много сил и времени. Мы автоматизируем их. Быстрая группировка запросов, диагностика качества оптимизации и многое другое.</p>"
      },
      {
        "image": "./assets/images/features/feature-6.webp",
        "title": "Узнайте, как увеличить SEO‑трафик сайта в 3+ раза?",
        "text": "<p>Введите адрес вашего сайта и получите не менее 25+ точек взрывного роста трафика и заявок для него.</p>"
      }
    ]
  })
  +achievements({
    title: "Наши достижения",
    subtitle: "По результатам самых авторитетных российских рейтингов, компания «Пиксель Тулс» стабильно входит в ТОП по качеству оказываемых услуг и доле рынка SEO.",
    items: [
      {
        place: "1",
        title: "По версии <a href=\"#\">RUWARD AWARD 2024</a>",
        logo: "./assets/images/achievements/ruward.svg"
      },
      {
        place: "1",
        title: "В списке любимых сервисов SEO‑специалистов",
        logo: "./assets/images/achievements/referr.svg"
      },
      {
        place: "4",
        title: "В рейтинге известности SEO‑сервисов 2022 от <a href=\"#\">SeoNews</a>",
        logo: "./assets/images/achievements/seo-news.svg"
      }
    ],
    button: {
      mods: ["dark"],
      tag: "a",
      text: "Наши достижения"
    }
  })
