extends ../../layout/landing

block head
  title «Пиксель Тулс»
  meta(name="description" content="«Пиксель Тулс»")

block content
  for group, i in dev.pagesGroups
    +section({
      title: `${group.section.title} (${group.items.length})`,
      mods: ["border"]
    })
      +cards-slider({
        items: group.items,
        index: i
      })
