extends ../../layout/landing

block head
  title «Пиксель Тулс»
  meta(name="description" content="«Пиксель Тулс»")

block content
  for group, i in dev.pagesGroups
    +cards-slider({
      isGallery: true,
      items: group.items,
      index: i
    }, {
      title: `${group.section.title} (${group.items.length})`,
      mods: ["border"]
    })
