.check-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem 3rem;
  margin: 0;
  padding: 0;

  list-style: none;

  @include breakpoint(s) {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;

    padding-left: 3rem;

    font-size: var(--fs-t2);

    &::before {
      position: absolute;
      top: calc(var(--fs-t1) * 1.2 * 0.5);
      left: 0;

      width: 2rem;
      height: 2rem;

      background-color: var(--primary-600);
      background-image: url("../assets/images/decoration/check.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1.2rem 1.2rem;
      border-radius: 50%;
      transform: translateY(-50%);

      content: '';
      pointer-events: none;
    }
  }
}
