mixin advantages(props, section)
  - props = props || {}
  +section(section)
    .advantages.js-advantages
      .advantages__slider.swiper.loader
        .advantages__slider-wrapper.swiper-wrapper
          for item in props.items
            .advantages__slide.swiper-slide
              +advantages-card(item)&attributes({class: "advantages__item"})
      +slider-pagination&attributes({class: "advantages__pagination"})
    link(href="./css/advantages.css" rel="stylesheet")
    script(src='./js/advantages.js')
