.search-card {
  position: relative;

  padding: 2.4rem 1.2rem;

  border: 1px solid var(--neutral-200);
  border-radius: var(--border-radius);

  @include breakpoint(m) {
    padding: 2rem 1.2rem;
  }

  &__title {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;

    font-weight: 700;
    font-size: var(--fs-t2);
    line-height: 1.2;

    @include transition(color);

    @include hover {
      @include color(var(--primary-900));
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';
    }
  }

  &__text {
    font-size: var(--fs-t3);
    line-height: 1.4;
  }
}
