p Настоящий документ представляет собой предложение Общества с ограниченной ответственностью «Пиксель Тулс» (далее — Общество) заключить Договор на оказание информационных и консультационных Услуг в сервисе «Пиксель Тулс» размещенному в сети интернет по адресу <a href="https://tools.pixelplus.ru/">https://tools.pixelplus.ru/</a> (далее — Пиксель Тулс) на изложенных ниже условиях.
ol
  li
    p
      b Определение и термины
    ol
      li
        p В целях настоящего документа нижеприведенные термины используются в следующем значении:
        p Пиксель Тулс — сервис (набор инструментов), оказывающий информационные и консультационные услуги в рамках данного Договора и размещенный на домене третьего уровня tools.pixelplus.ru.
        p Информационные услуги, Консультационные услуги, Услуги Пиксель Тулс, Услуги — услуги сервиса Пиксель Тулс по предоставлению аналитической информации в соответствии с условиями Оферты.
        p Оферта — настоящий документ «Оферта на оказание информационных и консультационных услуг «Пиксель Тулс», размещенный в сети интернет по адресу <a href="https://tools.pixelplus.ru/oferta/">https://tools.pixelplus.ru/oferta/</a>.
        p Акцепт Оферты — полное и безоговорочное принятие Оферты путем осуществления действий, указанных в разделе 7. Оферты. Акцептом оферты заключается Договор.
        p Пользователь — посетитель информационного ресурса по адресу tools.pixelplus.ru, прошедший процедуру регистрации в сервисе и верификации электронного адреса (e-mail).
        p Общество — юридическое лицо, созданное в соответствии с законодательством Российской Федерации.
        p Договор — договор между Пользователем и Обществом на оказание информационных и консультационных Услуг в Пиксель Тулс, который заключается посредством Акцепта Оферты.
        p Клиентский интерфейс — программный интерфейс взаимодействия Пользователя с сервисом Пиксель Тулс, который содержит информацию о предоставляемых в рамках Договора информационных услугах, а также предоставляет аналитическую информацию.
        p Лимит — расчетная величина, используемая для целей оказания Услуг (учета стоимости оказанных Услуг), принятая в Пиксель Тулс.
        p Число доступных лимитов аккаунта — численное значение доступных Пользователю лимитов по запросу и предоставлению информации в сервисе Пиксель Тулс.
        p ЮKassa — платежный сервис предоставляющий возможность пополнения аккаунта Пользователя в системе, расположенный по адресу yookassa.ru.
        p IP-адрес — уникальный сетевой адрес узла в компьютерной сети, с которого идет подключение Пользователя к сервису Пиксель Тулс.
        p Проект — данные о сайте, включая URL сайта, группы ключевых слов и набор поисковых систем, которые необходимо отслеживать, контролировать и анализировать.
        p API-ключ — уникальный идентификатор, получаемый Пользователем, позволяющий получать услуги Пиксель Тулс в пределах Числа доступных лимитов аккаунта.
  li
    p
      b Предмет Договора
    ol
      li
        p Предметом Договора является оказание сервисом Пиксель Тулс информационных и консультационных Услуг на условиях Оферты.
  li
    p
      b Условия оказания информационных и консультационных Услуг
    ol
      li
        p Обязательным условием оказания информационных и консультационных Услуг Пиксель Тулс является принятие и соблюдение Пользователем условий Оферты.
      li
        p Пиксель Тулс несет ответственность только перед теми Пользователями, которые осуществили Акцепт Оферты.
      li
        p Пользователь не вправе передавать свои права по Договору какой-либо третьей стороне.
      li
        p Пользователь самостоятельно несет ответственность за сохранность и конфиденциальность регистрационных данных (логин и пароль). Все действия, осуществленные в сервисе с использованием логина и пароля Пользователя, считаются осуществленными Пользователем. Пользователь самостоятельно несет ответственность перед третьими лицами за все действия, совершенные с использованием логина и пароля Пользователя. Пиксель Тулс не несет ответственности за несанкционированное использование регистрационных данных Пользователя третьими лицами.
      li
        p Пользователь признает, что в целях Договора, в частности, для определения количества используемых лимитов, потраченных средств, используются исключительно данные автоматизированной системы учета Пиксель Тулс.
      li
        p Пиксель Тулс не предоставляет никаких гарантий в отношении использования и результатов (эффективности) использования Пользователем полученной аналитической информации в рамках использования сервиса.
      li
        p Пиксель Тулс не несет ответственности за технические неполадки и сбои, которые могут наблюдаться в работе сторонних сервисов, в том числе, но не ограничиваясь, сервисами Яндекс.Поиск, Ю.Касса, Яндекс.Директ, Яндекс.Метрика, Яндекс.ВордCтат, поиск Google, WebMoney, YouTube и которые могут приводить к искажению предоставляемой сервисом Пиксель Тулс аналитической информации.
  li
    p
      b Права и обязанности Пиксель Тулс и Общества
    ol
      li
        p Автоматизированный сервис Пиксель Тулс обязуется:
        ol
          li
            p Оказать Пользователю информационные Услуги в соответствии с Договором, заключенным на условиях Оферты.
          li
            p При оказании Услуг по Договору обеспечить возможность доступа Пользователя к данным статистики Пиксель Тулс по использованию сервиса через Клиентский интерфейс с использованием логина и пароля Пользователя.
          li
            p Обеспечить конфиденциальность информации, предоставляемой сервисом Пользователю и конфиденциальность данным, полученных от Пользователя.
          li
            p Стороны согласились, что условие сохранения конфиденциальности регистрационных данных (включая персональные данные), указанных Пользователем при регистрации в Пиксель Тулс и/или при заключении Договора, не распространяется на случаи использования Пиксель Тулс и Обществом таких данных в целях формирования Пользователю счетов на оказание информационных Услуг и актов сдачи-приемки Услуг.
      li
        p Пиксель Тулс имеет право:
        ol
          li
            p Временно приостановить оказание Пользователю информационных и консультационных Услуг по Договору по техническим, технологическим или иным причинам, препятствующим оказанию Услуг, на время устранения таких причин.
          li
            p Приостановить доступ Пользователя к системе за нарушения правил сервиса Пиксель Тулс без объяснения причины.
          li
            p Приостановить доступ Пользователя к системе и расторгнуть Договор в одностороннем порядке в случае причинение ущерба деловой репутации сервиса Пиксель Тулс и/или распространения заведомо ложной и/или порочащей репутацию информации о сервисе Пиксель Тулс, в том числе, но не ограничиваясь, использованием социальных сетей, массовых почтовых e-mail сообщений и прочих ресурсов в интернете.
          li
            p Приостановить доступ Пользователя к системе в случае нанесения финансового ущерба Сервису, например за создание 2 (Двух) и более аккаунтов, используемых в личных целях, на которых был взят тариф на 30 (Тридцать) дней за 99 (девяносто девять) рублей.
          li
            p Использовать обезличенные данные от пользователей для улучшения качества работы онлайн-инструментов и проведения исследовательской деятельности с дальнейшей презентацией итогов исследований в открытом доступе (в обезличенном, агрегированном виде).
          li
            p Осуществлять предоставление информации о возможностях системы, проводимых акциях, передвижению средств на аккаунте, новостях и прочих сведениях Пользователю посредством электронных e-mail-сообщений, на указанный при регистрации адрес электронной почты Пользователя, если Пользователь не отказался от приема соответствующих рассылок в Клиентском интерфейсе.
          li
            p Удалять проекты пользователей, которые не проверялись 90 (девяносто) и более календарных дней или на аккаунтах владельцев которых не было активности 90 (девяносто) и более календарных дней.
          li
            p Удалять данные проверок в проектах пользователей, которые: для позиций — старше 730 (семисот тридцати) календарных дней, для распределения — старше 90 (девяноста) календарных дней, для аудитов — старше 30 (тридцати) календарных дней.
          li
            p Временно или навсегда отозвать API-ключ в случае фиксации подозрительной активности со стороны Пользователя.
      li
        p Общество обязуется:
        ol
          li
            p Ежемесячно в первый день следующий за отчетным месяцем Общество формирует односторонний акт об оказанных услугах (далее — «Акт») в соответствии с объемом фактически оказанных в Отчетном периоде Услуг.
          li
            p Копия текста Акта доступна Пользователю для скачивания в разделе личного кабинета (Баланс/Оплатить безналичным платежом/ Список плательщиков, счетов и актов).
          li
            p Стороны признают, что копия текста Акта, доступная для скачивания Пользователю в разделе личного кабинета (Баланс/Оплатить безналичным платежом/ Список плательщиков, счетов и актов), будет применяться Заказчиком в процессе приемки Услуг, до момента получения оригинала Акта.
          li
            p Направление оригинала Акта Заказчику необходимо запросить по электронной почте <a href="mailto:fin@pixeltools.ru">fin@pixeltools.ru</a>.
  li
    p
      b Права и обязанности Пользователя
    ol
      li
        p Пользователь сервиса Пиксель Тулс обязан:
        ol
          li
            p Самостоятельно подготавливать данные, необходимые для использования инструментов сервиса.
          li
            p При подготовке и введении необходимых для использования сервиса данных соблюдать все требования Пиксель Тулс к предоставляемым данным.
          li
            p Не злоупотреблять предоставленными Пользователю возможностями по использованию инструментов по Договору, в частности, не использовать инструменты с целью принести ущерб третьим лицам или сервису Пиксель Тулс.
          li
            p Не использовать самостоятельно или с привлечением третьих лиц оказание информационных Услуг и/или возможности сервиса Пиксель Тулс в целях, которые могут быть квалифицированы как нарушение прав третьих лиц.
          li
            p Не осуществлять действий, которые влияют на нормальную работу сервиса и инструментов Пиксель Тулс, а также являются его недобросовестным использованием.
          li
            p Оплатить Услуги Пиксель Тулс по Договору в установленные в Оферте (Договоре) сроки и порядке.
      li
        p Пользователь сервиса Пиксель Тулс имеет право:
        ol
          li
            p На доступ к данным статистики в установленном порядке.
          li
            p Использовать предоставленные сервисом инструменты в соответствии со своими нуждами для получения аналитической информации, которую они предоставляют.
          li
            p Управлять возможностями своего аккаунта согласно возможностям, предоставляемым сервисом.
  li
    p
      b Стоимость услуг и условия оплаты
    ol
      li
        p Стоимость информационных и консультационных Услуг, оказанных Пиксель Тулс по Договору, определяется в соответствии с тарифными планами, принятыми в системе и размещенными по адресу в сети интернет: <a href="https://tools.pixelplus.ru/faq/tarifs">https://tools.pixelplus.ru/faq/tarifs</a>.
      li
        p Число доступных Пользователю лимитов на каждые сутки определяется согласно:
        ol
          li
            p Текущему (оплаченному) тарифу Пользователя в соответствии с тарифными планами, принятыми в системе и размещенными по адресу в сети интернет: <a href="https://tools.pixelplus.ru/faq/tarifs">https://tools.pixelplus.ru/faq/tarifs</a>. Текущий тариф Пользователя отображается в Клиентском интерфейсе.
          li
            p Дополнительным купленным лимитам, увеличивающими число доступных запросов к Пиксель Тулс.
      li
        p Отчетный период оказания информационных и консультационных Услуг устанавливается в пределах календарного месяца.
      li
        p Стоимость Услуг, списывается с баланса Пользователя в системе при смене тарифного плана или покупке дополнительных лимитов и отображается в Клиентском интерфейсе в соответствии со стоимостью оказания Услуг Пиксель Тулс до конца выбранного периода.
      li
        p Пользователь, использующий функционал «Подписка» соглашается на автоматическое списание стоимости Услуг со своего баланса в Пиксель Тулс согласно выбранным тарифам и купленным дополнительным лимитам.
        p Списание стоимости Услуг происходит в сервисе автоматически по завершении текущего оплаченного периода в формате предоплаты в полном объеме за будущий период, длительность будущего периода определяется выбранными ранее настройками в Клиентском интерфейсе.
      li
        p Пользователь, использующий функционал «Автоматическое пополнение баланса с банковской карты» соглашается на автоматическое списание стоимости Услуг со своей банковской карты в пользу Пиксель Тулс согласно самостоятельно установленной суммы автоматического пополнения.
        p Списание стоимости Услуг происходит в сервисе автоматически по завершении текущего оплаченного периода в формате предоплаты в полном объеме за будущий период, длительность будущего периода определяется выбранными ранее настройками в Клиентском интерфейсе.
      li
        p В целях учета стоимости оказанных информационных и консультационных Услуг, в том числе в данных статистики сервиса, могут использоваться лимиты Пиксель Тулс.
      li
        p Оплата Услуг производится Пользователем в российских рублях посредством сервисов Ю.Касса или на расчетный счет Общества.
      li
        p Стоимость оказания информационных и консультационных Услуг, оказываемых сервисом, не подлежит обложению НДС в соответствии с пунктом 2 ст. 346.11 Налогового Кодекса Российской Федерации.
      li
        p Услуги оказываются Пользователю на условиях предварительной оплаты. Пользователь производит авансовый платеж в размере 100% (Сто процентов) от общей стоимости заказываемых Услуг посредством сервисов Ю.Касса или на расчетный счет Общества. Внесение оплаты Пользователем является фактом Акцепта Оферты.
      li
        p Информационные и консультационные Услуги считаются оплаченными Пользователем с момента получения сервисом Пиксель Тулс подтверждения из сервисов Ю.Касса или с момента поступления денежных средств на расчетный счет Общества и списания стоимости Услуг с баланса аккаунта Пользователя согласно принятым тарифным планам.
      li
        p Настоящим Стороны договорились, что в случае, если на момент прекращения или расторжения Договора сумма произведенной Пользователем предоплаты информационных и консультационных Услуг превышает стоимость фактически оказанных Пользователю по Договору Услуг, то разница между указанными суммами признается внесенной Пользователем в счет предоплаты услуг Пиксель Тулс и может быть израсходована только на информационные Услуги самого сервиса.
  li
    p
      b Срок действия, изменение условий и Акцепт Оферты
    ol
      li
        p Оферта вступает в силу с момента ее размещения Пиксель Тулс в сети интернет по адресу <a href="https://tools.pixelplus.ru/oferta/">https://tools.pixelplus.ru/oferta/</a> и действует до момента отзыва Оферты Обществом.
      li
        p Пользователь производит Акцепт Оферты:
      li
        p Путем внесения денежных средств Пользователем на расчетный счет Общества.
      li
        p Под датой Акцепта Оферты следует понимать дату поступления денежных средств на расчетный счет Общества.
      li
        p Между Сторонами могут быть заключены последовательно несколько Договоров.
      li
        p Пиксель Тулс оставляет за собой право внести изменения в условия Оферты в любой момент по своему усмотрению. В случае внесения Пиксель Тулс изменений в Оферту, такие изменения вступают в силу с момента размещения измененного текста Оферты в интернете, если иной срок вступления изменений в силу не определен дополнительно при самом размещении.
  li
    p
      b Срок действия и изменений Договора
    ol
      li
        p Акцепт Оферты Пользователем, произведенный согласно ст. 7. Оферты, создает Договор (статья 438 Гражданского Кодекса РФ) на условиях Оферты.
      li
        p Договор вступает в силу с момента Акцепта Оферты Пользователем и действует: а) до момента исполнения Сторонами обязательств по Договору, а именно оплаты Пользователем стоимости информационных и консультационных Услуг и оказания Пиксель Тулс информационных и консультационных Услуг в объеме, соответствующем их стоимости Услуг, либо б) до момента расторжения Договора.
      li
        p В случае отзыва Оферты Пиксель Тулс в течение срока ее действия, Договор считается прекращенным с момента отзыва, если иное не оговорено Пиксель Тулс при отзыве Оферты.
  li
    p
      b Расторжение Договора
    p Договор может быть расторгнут:
    ol
      li
        p По инициативе любой из Сторон в случае нарушения другой Стороной условий Договора с письменным уведомлением другой Стороны.
      li
        p По инициативе Пиксель Тулс, если работа с аккаунтом Пользователя ведется с более чем 4 (Четырех) различных IP-адресов и/или с 2 (Двух) или большего числа IP-адресов одновременно.
      li
        p По иным основаниям, предусмотренным настоящей Офертой.
  li
    p
      b Гарантии
    ol
      li
        p В течение срока действия Договора Пиксель Тулс предпримет все усилия для устранения каких-либо сбоев и ошибок, в случае их возникновения, в максимально короткие сроки. При этом Пиксель Тулс не гарантирует отсутствия ошибок и сбоев при работе в системе и в работе сторонних сервисов, в том числе в отношении работы программного обеспечения.
      li
        p За исключением гарантий, прямо указанных в тексте Оферты, Пиксель Тулс не предоставляет никаких иных гарантий по Договору и прямо отказывается от каких-либо гарантий или условий в отношении не нарушения прав, соответствия информационных Услуг конкретным целям Пользователя.
      li
        p Соглашаясь с условиями и совершая Акцепт Оферты, Пользователь или его представитель заверяет Пиксель Тулс и гарантирует Пиксель Тулс, что:
        ol
          li
            p Пользователь (его представитель) указал достоверные данные, в том числе персональные данные при регистрации.
          li
            p Пользователь заключает Договор добровольно, при этом Пользователь (его представитель): а) полностью ознакомился с условиями Оферты, б) полностью понимает предмет Оферты и Договора, в) полностью понимает значение и последствия своих действий в отношении заключения и исполнения Договора.
          li
            p Пользователь (его представитель) обладает всеми правами и полномочиями, необходимыми для заключения и исполнения Договора.
          li
            p Пользователь своими действиями не нарушает интересы третьих лиц.
  li
    p
      b Ответственность Сторон
    ol
      li
        p За нарушение условий Договора Стороны несут ответственность, установленную Договором и/или действующим законодательством РФ.
      li
        p Пиксель Тулс ни при каких обстоятельствах не несет никакой ответственности по Договору за: а) какие-либо действия/бездействие, являющиеся прямым или косвенным результатом действий/бездействия Пользователя и/или третьих лиц; б) какие-либо косвенные убытки и/или упущенную выгоду Пользователя и/или третьих сторон вне зависимости от того, мог Пиксель Тулс предвидеть возможность таких убытков или нет; в) использование (невозможность использования) и какие бы то ни было последствия использования (невозможности использования) Пользователем выбранной им формы оплаты Услуг по Договору, а равно использование/невозможность использования Пользователем и/или третьими лицами любых средств и/или способов передачи/получения информации.
      li
        p Совокупный размер ответственности Пиксель Тулс, включая размер штрафных санкций (пеней, неустоек) и/или возмещаемых убытков, по любому иску или претензии в отношении Договора или его исполнения, ограничивается 10% (Десять процентов) от стоимости информационных Услуг согласно тарифам.
      li
        p Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, которые возникли после заключения Договора, либо если неисполнение обязательств Сторонами по Договору явилось следствием событий чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами. К обстоятельствам непреодолимой силы относятся события, на которые Сторона не может оказывать влияния и за возникновение которых она не несет ответственности, в том числе: война, восстание, забастовка, землетрясение, наводнение, иные стихийные бедствия, пожар, сбои энергоснабжения, произошедшие не по вине Сторон, действия и акты органов власти, принятые после заключения Договора и делающие невозможным исполнение обязательств, установленных Договором, и другие непредвиденные обстоятельства и неподконтрольные сторонам события и явления, но не ограничиваясь указанным.
      li
        p Пользователь несет ответственность в полном объеме за а) соблюдение всех требований законодательства, в отношении содержания и заполнения форм инструментов сервиса, которые предоставлен доступ в системе Пиксель Тулс; б) достоверность сведений, указанных им при регистрации в качестве Пользователя, и достоверность гарантий и заверений Пользователя, содержащихся в п.10 Оферты.
      li
        p В случае нарушения Пользователем условий Договора Пиксель Тулс вправе приостановить оказание информационных Услуг до момента устранения Пользователем допущенных нарушений и возмещения (компенсации) причиненных сервису таким нарушением убытков в полном объеме и/или расторгнуть Договор с направлением соответствующего уведомления Пользователю по адресу электронной почты, указанному при регистрации. При расторжении Договора по указанному основанию Пиксель Тулс вправе путем удержания взыскать с Пользователя предъявленные в соответствии с Договором суммы неустоек и убытков.
  li
    p
      b Прочие условия
    ol
      li
        p Договор, его заключение и исполнение регулируется действующим законодательством Российской Федерации. Если споры между Пользователем и Пиксель Тулс в отношении Договора не разрешены путем переговоров Сторон, они подлежат рассмотрению в порядке, предусмотренном действующим законодательством в Арбитражном суде г. Москвы.
      li
        p Любые уведомления по Договору могут направляться одной Стороной другой Стороне: 1) по электронной почте а) на адрес электронной почты Пользователя, указанный им при регистрации, с адреса электронной почты Пиксель Тулс, указанного в п.13 Оферты в случае, если получателем является Пользователь, и б) на адрес электронной почты Пиксель Тулс, указанный в п.13 Оферты, с адреса электронной почты Пользователя, указанного им при регистрации; 3) почтой с уведомлением о вручении или курьерской службой с подтверждением доставки.
      li
        p В случае если одно или более положений Оферты являются по какой-либо причине недействительными, не имеющими юридической силы, такая недействительность не оказывает влияния на действительность любого другого положения Оферты (Договора), которые остаются в силе.
      li
        p Не вступая в противоречие с условиями Оферты, Пользователь и Пиксель Тулс вправе в любое время оформить Договор на оказание Услуг в форме письменного двухстороннего документа.
  li
    p
      b Реквизиты Общества
    p Наименование: ООО «Пиксель Тулс»
    p Местонахождение: 124460, г. Москва, вн.тер.г. муниципальный округ Силино, г. Зеленоград, к. 1131, кв. 466
    p ИНН 7735162402
    p КПП 773501001
    p ОГРН 1177746430806
    p Р/С 40702810338000109845 ПАО «Сбербанк» г. Москва
    p К/С 30101810400000000225
    p БИК 044525225
    p Форма обратной связи: <a href="https://tools.pixelplus.ru/support/">https://tools.pixelplus.ru/support/</a>.
    p Адрес размещения Оферты в сети интернет: <a href="https://tools.pixelplus.ru/oferta/">https://tools.pixelplus.ru/oferta/</a>.
    p Электронная почта сервиса: <a href="mailto:support@pixeltools.ru">support@pixeltools.ru</a>.
    p Бухгалтерские вопросы и акты: <a href="mailto:fin@pixeltools.ru">fin@pixeltools.ru</a>.
    p Дата последних изменений: 29 мая 2023.
br
p Предыдущие версии документа:
ul
  li
    a(href="#") Оферта о заключении Договора на оказание информационных услуг в сервисе «Пиксель Тулс» от 2019-09-19
  li
    a(href="#") Оферта о заключении Договора на оказание информационных услуг в сервисе «Пиксель Тулс» от 2017-10-12
  li
    a(href="#") Оферта о заключении Договора на оказание информационных услуг в сервисе «Пиксель Тулс» от 2017-03-17
  li
    a(href="#") Оферта о заключении Договора на оказание информационных услуг в сервисе «Пиксель Тулс» от 2016-09-21
