mixin demo-form(props)
  - props = props || {}
  +form&attributes({class: "demo-form js-demo-form"})
    +input({
      placeholder: "Имя",
      required: true
    })&attributes({
      minlength: 2
    })
    +input({
      required: true,
      type: "tel"
    })
    +input({
      placeholder: "E-mail",
      required: true,
      type: "email"
    })
    +input({
      placeholder: "Название компании"
    })
    .demo-form__controls
      +button({
        type: "submit"
      })
        +spinner
        =props.buttonText || "Отправить"
  link(href="./css/demo-form.min.css" rel="stylesheet")
  script(src="./js/demo-form.min.js")
