.cl-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;

  text-align: center;

  background-color: var(--neutral-100);

  border-radius: var(--border-radius);

  &__title {
    margin-top: 0;
    margin-bottom: 1rem;

    font-weight: 700;
    font-size: var(--fs-t2);
  }

  &__address {
    font-size: var(--fs-t3);
  }

  &__link {
    align-self: center;

    font-size: var(--fs-t3);
  }

  &__caption {
    margin-top: 1rem;
    padding-top: 2rem;

    font-size: var(--fs-t3);

    border-top: 1px solid var(--neutral-200);
  }

  a {
    text-decoration: none;

    @include color(var(--primary-600));
    @include transition(color);

    @include hover {
      @include color(var(--primary-900));
    }
  }
}
