mixin error(props)
  - props = props || {}
  .error
    h1.error__code=props.code
    .error__description=props.description
    a.error__link(href="./home.html") Перейти на главную
  link(href="./css/error.min.css" rel="stylesheet")
