.modal {
  $block-name: &;

  display: none;
  width: 100%;
  max-width: 52rem;
  padding: 0;

  background: none;

  &--wide {
    max-width: 80rem;
  }

  &__inner {
    position: relative;

    padding: 4rem 2.4rem;

    background-color: var(--color-white);
    border-radius: $border-radius;

    @include breakpoint(m) {
      padding: 3rem 2rem;
    }

    @include breakpoint(s) {
      padding: 2.4rem 1.6rem;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: block;
    padding: 0;

    background: none;
    border: none;

    svg {
      display: block;
      width: 1.6rem;
      height: 1.6rem;

      fill: var(--color-gray-light);

      @include transition(fill);
    }

    @include hover {
      svg {
        fill: var(--color-primary-dark);
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    text-align: center;
  }

  &--success #{$block-name}__text::before,
  &--error #{$block-name}__text::before,
  &--warning #{$block-name}__text::before {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 5.6rem;
    height: 5.6rem;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 3.2rem 3.2rem;
    border-radius: 50%;

    content: '';
    pointer-events: none;
  }

  &--success #{$block-name}__text::before {
    background-color: var(--color-success);
    background-image: url("../assets/images/decoration/check.svg");
  }

  &--error #{$block-name}__text::before {
    background-color: var(--color-primary);
    background-image: url("../assets/images/decoration/cross.svg");
  }

  &--warning #{$block-name}__text::before {
    background-color: var(--color-gray);
    background-image: url("../assets/images/decoration/warning.svg");
  }

  &__title {
    margin: 0;

    font-weight: 700;
    font-size: var(--fs-h3);
  }

  &--success #{$block-name}__title {
    color: var(--color-success);
  }

  &--error #{$block-name}__title {
    color: var(--color-primary);
  }

  &--warning #{$block-name}__title {
    color: var(--color-gray);
  }

  &__description {
    font-size: var(--fs-t2);
  }

  &__caption {
    font-size: var(--fs-t2);
    font-style: italic;
  }

  &__content {
    margin-top: 2rem;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  &__button {
    align-self: center;

    @include breakpoint(s) {
      align-self: stretch;
    }
  }
}
