mixin success-modal(props)
  - props = props || {}
  +modal({
    mods: ["success"],
    id: "success-modal",
    title: "Спасибо за обращение!",
    description: "<p>Менеджер свяжется с вами в ближайшее время для согласования удобного времени для проведения демонстрации.</p>",
    caption: "<p>Обращаем внимание, что заявки, оставленные в выходные дни будут обработаны в ближайший рабочий день.</p>"
  })
