mixin ui-component(props)
  - props = props || {}
  - slots = {}

  mixin slot(name)
    - slots[name] = block

  - block ? block() : undefined

  .ui-component
    if props.title || props.description || props.tags
      .ui-component__head
        if props.title || props.description
          .ui-component__info
            if props.title
              .ui-component__title=props.title
            if slots.description || props.description
              .ui-component__description
                if slots.description
                  - slots.description()
                else if props.description
                  | !{props.description}
        if props.tags
          .ui-component__tags
            for tag in props.tags
              +c-tag=tag
    if slots.content
      .ui-component__content
        - slots.content()
  link(href="./css/ui-component.min.css" rel="stylesheet")
