mixin reset-password(props, section)
  - props = props || {}
  +section(section)
    .reset-password(
      class=(section.mods && section.mods.includes("dark") ? "reset-password--light" : null)
    )
      +reset-password-form&attributes({
        class: "reset-password__form"
      })
      if props.caption
        .reset-password__caption !{props.caption}
    link(href="./css/reset-password.min.css" rel="stylesheet")
    script(src="./js/reset-password.min.js")
