.reset-password-form {
  &__form {

  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    @include breakpoint(s) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__control {

  }
}
