mixin reset-password-success-modal(props)
  - props = props || {}
  +modal({
    mods: ["success"],
    id: "reset-password-success-modal",
    title: "Проверьте почту",
    description: "На указанную вами почту отправлено письмо c инструкциями для восстановления пароля.",
    caption: "Если вы не получили письмо на почту в течение нескольких минут, возможно письмо попало в спам или папку с нежелательной почтой. Письмо придет с адреса: <b>support@pixeltools.ru</b>.",
    button: {
      tag: "a",
      link: "./login.html",
      text: "Назад ко входу"
    }
  })
