mixin reset-password-form(props)
  - props = props || {}
  .reset-password-form&attributes(attributes)
    +form&attributes({class: "reset-password-form__form js-reset-password-form"})
      +input({
        placeholder: "E-mail",
        type: "email",
        name: "email",
        required: true
      })
      .reset-password-form__controls
        +button({
          type: "submit"
        })&attributes({class: "reset-password-form__control"})
          +spinner
          | Выслать инструкции
  link(href="./css/reset-password-form.min.css" rel="stylesheet")
  script(src="./js/reset-password-form.min.js")
