mixin reset-password-form(props)
  - props = props || {}
  .reset-password-form
    +form&attributes({class: "reset-password-form__form"})
      +input({
        placeholder: "E-mail",
        type: "email",
        name: "email",
        required: true
      })
      - props.backLinkType = props.backLinkType || "modal"
      if props.backLinkType === "link"
        a.reset-password-form__back(href="./login.html") Назад ко входу
      else if props.backLinkType === "modal"
        button.reset-password-form__back(
          type="button"
          data-fancybox="modal"
          data-src="#login-modal"
        ) Назад ко входу
      .reset-password-form__controls
        +button({
          type: "submit"
        })&attributes({class: "reset-password-form__control"})
          +spinner
          | Выслать инструкции
  link(href="./css/reset-password-form.css" rel="stylesheet")
