mixin reset-password-modal(props)
  - props = props || {}
  +modal({
    id: "reset-password-modal",
    title: "Забыли пароль?",
    description: "Введите ваш email адрес в поле ниже, вам будут высланы инструкции для востановления пароля."
  })
    +reset-password-form
