.team {
  @include breakpoint(s) {
    width: calc(100% + 3.2rem);
    margin: 0 -1.6rem;
    padding: 0 1.6rem;
    overflow: hidden;
  }

  @include breakpointMF(m) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 2rem);
    margin: -1rem;
  }

  @include breakpointMF(l) {
    width: calc(100% + 3rem);
    margin: -1.5rem;
  }

  &__slider {
    @include breakpointMF(m) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include breakpoint(s) {
      overflow: visible;
    }
  }

  &__slider-wrapper {
    @include breakpointMF(m) {
      display: contents;
    }
  }

  &__slide {
    width: 100%;

    @include breakpointMF(m) {
      width: calc(100% / 3 - 2rem);
      margin: 1rem;
    }

    @include breakpointMF(l) {
      width: calc(20% - 3rem);
      margin: 1.5rem;
    }

    &--single {
      @include breakpointMF(m) {
        justify-content: center;
        width: calc(100% - 2rem);
      }

      @include breakpointMF(l) {
        width: calc(100% - 3rem);
      }
    }
  }

  &__pagination {
    margin-top: 2rem;

    @include breakpointMF(m) {
      display: none;
    }
  }
}
