mixin onboarding-card(props)
  - props = props || {}
  .onboarding-card&attributes(attributes)
    .onboarding-card__icon !{props.icon}
    .onboarding-card__title=props.title
    .onboarding-card__text=props.text
