mixin onboarding(props)
  - props = props || {}
  section.onboarding
    .page-container
      .onboarding__content
        h1.onboarding__title.animation.animation--fade-in-left !{props.title}
        .onboarding__subtitle.animation.animation--fade-in-left !{props.subtitle}
        +onboarding-steps({
          items: props.items
        })&attributes({class: "onboarding__list animation animation--fade-in"})
        +onboarding-form({
          isRow: true
        })&attributes({class: "onboarding__form animation animation--fade-in"})
    link(href="./css/onboarding.min.css" rel="stylesheet")
