.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  pointer-events: none;

  & > * {
    pointer-events: all;
  }

  &__item {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;

    background-color: var(--primary-600);
    border: none;
    border-radius: 50%;

    @include transition(background-color, opacity);

    svg {
      width: 1.6rem;
      height: 1.6rem;

      fill: var(--white);
    }

    @include hover {
      background-color: var(--primary-900);
    }

    &--prev {
      svg {
        transform: rotate(90deg) translateY(1px);
      }
    }

    &--next {
      svg {
        transform: rotate(-90deg) translateY(1px);
      }
    }

    &--disabled {
      opacity: 0.5;

      pointer-events: none;
    }

    &--lock {
      display: none;
    }
  }
}

.loader .slider-navigation,
.loader ~ .slider-navigation {
  display: none;
}
