extends ../../layout/landing

block head
  title Онлайн-генерация текста с помощью нейросети (ИИ)
  meta(name="description" content="Онлайн-генерация текста с помощью нейросети (ИИ)")

block content
  +section({
    title: "Онлайн-генерация текста с помощью нейросети (ИИ)",
    tag: "h1"
  })
    +vue-app({
      name: "tool-ai-content",
      initialProps: {
        models: [
          {
            label: "GPT-4 Omni",
            value: "gpt-4o"
          },
          {
            label: "GPT 4.0",
            value: "4-1106-preview"
          },
          {
            label: "GPT 3.5",
            value: "3.5-turbo-1106"
          },
          {
            label: "Yandex GPT-3 Pro",
            value: "yandexgpt/latest"
          },
          {
            label: "Yandex GPT-3 Lite",
            value: "yandexgpt-lite/latest"
          },
        ],
        defaultModel: "gpt-4o"
      }
    })
