mixin onboarding-form(props)
  - props = props || {}
  +form&attributes({
    class: [
      "onboarding-form js-onboarding-form",
      props.isRow ? "onboarding-form--row" : null,
      attributes.class
    ]
  })
    +input({
      placeholder: "Введите домен сайта",
      required: true
    })&attributes({
      pattern: "^[^\\s@]+\\.([a-zA-Zа-яА-Я]{2,})$",
      "data-parsley-pattern-message": "Введите адрес вида: domain.ru"
    })
    +select({
      required: true,
      options: [
        {
          text: "Регион продвижения",
          value: ""
        },
        ...cities
      ],
      value: "213"
    })
    .onboarding-form__controls(
      class=(props.hasDemoButton ? "onboarding-form__controls--grid" : null)
    )
      if props.hasDemoButton
        +button({
          mods: ["light"],
          tag: "a"
        })&attributes({
          class: "onboarding-form__control"
        }) Демо-проекты
      +button({
        type: "submit"
      })&attributes({
        class: "onboarding-form__control"
      })
        +spinner
        | Начать
  link(href="./css/onboarding-form.min.css" rel="stylesheet")
  script(src="./js/onboarding-form.min.js")
