mixin onboarding-form(props)
  - props = props || {}
  +form&attributes({
    class: ["onboarding-form", attributes.class]
  })
    +input({
      placeholder: "Введите домен сайта",
      required: true
    })&attributes({
      pattern: "^[^\\s@]+\\.([a-zA-Zа-яА-Я]{2,})$",
      "data-parsley-pattern-message": "Введите адрес вида: domain.ru"
    })
    +select({
      required: true,
      options: [
        {
          text: "Регион",
          value: ""
        },
        ...cities
      ],
      value: "213",
    })
    .onboarding-form__controls
      +button({
        mods: ["light"],
        tag: "a"
      }) Демо-проект
      +button({
        type: "submit"
      })
        +spinner
        | Начать
  link(href="./css/onboarding-form.css" rel="stylesheet")
