extends /src/layout/landing

block content
  +section({
    tag: "h1",
    title: "Поиск по сайту"
  })
    +search({
      value: "Анализ запросов",
      items: [
        {
          title: "Комплексная оценка поисковых запросов онлайн — анализ...",
          text: "Инструмент представляет собой комплексный быстрый <b>анализ</b> ключевых фраз. Он нужен, чтобы определить релевантность <b>запросов</b>, степень преобладания интента в поисковой..."
        },
        {
          title: "Анализ поисковых запросов онлайн — детальная проверка...",
          text: "Аналитика ключевых фраз помогает построить стратегию продвижения по <b>запросу</b> в определенном регионе. Видео: всё о поисковых <b>запросах</b> и <b>анализе</b> фраз."
        },
        {
          title: "Анализа ТОП по ключевым показателям для группы запросов",
          text: "<b>Анализ</b> ТОП выдачи Яндекса и Google по группе <b>запросов</b>."
        },
        {
          title: "Комплексная оценка поисковых запросов онлайн: геозависимость...",
          text: "<b>Анализ запроса</b> на геозависимость, коммерциализацию. Конечно, при работе с большим списком <b>запросов</b>, удобнее получать информацию в CSV."
        },
        {
          title: "Анализ ТОП-10 выдачи по запросам, инструмент анализа ТОП...",
          text: "Воспользуйтесь инструментом «Инструмент <b>анализа</b> ТОП по ключевым показателям для группы <b>запросов</b>» от Пиксель Тулс."
        },
        {
          title: "Статистика запросов в Google — анализ и проверка частотности...",
          text: "<b>Анализ</b> ТОП выдачи Яндекса и Google по группе <b>запросов</b>. Раньше проверить статистику поисковых <b>запросов</b> можно было в сервисе для рекламодателей Google Adwords."
        },
        {
          title: "Анализ ТОП выдачи по запросам для Яндекса и Google",
          text: "Мы постарались учесть все пожелания, поэтому добавили проверку по списку <b>запросов</b>, <b>анализ</b> по зонам документа, учёт разных типов вхождений и другие возможности."
        },
        {
          title: "Быстрый анализ поискового запроса и выдачи Яндекса...",
          text: "Команда проекта рада анонсировать запуск нового инструмента — «Детальный <b>анализ</b> поискового <b>запроса</b>», а также метода «analizzaprosa» в API к нему."
        },
        {
          title: "Проверить частотность запросов онлайн — бесплатная проверка...",
          text: "Онлайн-сервис поможет массово проверить частотность поисковых <b>запросов</b> в выбранном регионе."
        },
        {
          title: "Статистика запросов в Яндекс — сервис аналитики поисковых...",
          text: "Как уже сказано выше, наш инструмент не просто сервис для <b>анализа</b> частотности <b>запросов</b>."
        }
      ]
    })
