include about/index
include achievements/index
include advantages/index
include board/index
include cards-slider/index
include cases/index
include check-list/index
include contacts/index
include contacts-list/index
include demo-form/index
include document/index
include documents-list/index
include error/index
include features/index
include icon-cards/index
include intro/index
include login-form/index
include map/index
include multi-button/index
include news-list/index
include numbers/index
include onboarding/index
include onboarding-digits/index
include onboarding-form/index
include onboarding-steps/index
include partners/index
include requisites/index
include register/index
include register-advantages/index
include register-form/index
include reset-password-form/index
include reviews/index
include scroll-to-top/index
include search/index
include tariffs/index
include team/index
include tools-list/index
include ui-colors/index
include ui-component/index
include ui-sprite/index
include video/index
include welcome-message/index
