.page {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-text-size-adjust: 100%;

  &__inner {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-height: 100svh;
  }

  &__header {

  }

  &__content {
    flex-grow: 1;
    padding-top: 7rem;

    @include breakpoint(m) {
      padding-top: 5rem;
    }
  }

  &__footer {

  }
}
