.page-container {
  max-width: calc(1400px + 4.8rem);
  margin: 0 auto;
  padding: 0 2.4rem;

  @include breakpoint(m) {
    max-width: 100%;
  }

  @include breakpoint(m) {
    padding: 0 2rem;
  }

  @include breakpoint(s) {
    padding: 0 1.6rem;
  }
}
