extends /src/layout/landing

block content
  +section({
    title: "Онлайн-генерация текста с помощью нейросети (ИИ)",
    tag: "h1"
  })
    +vue-app({
      name: "tool-ai-content",
      loaderText: "Инструмент загружается...",
      initialProps: {
        models: [
          {
            label: "GPT 4 Omni",
            value: "gpt-4o"
          },
          {
            label: "GPT 4.0",
            value: "4-1106-preview"
          },
          {
            label: "GPT 3.5",
            value: "3.5-turbo-1106"
          },
          {
            label: "Yandex GPT-3 Pro",
            value: "yandexgpt/latest"
          },
          {
            label: "Yandex GPT-3 Lite",
            value: "yandexgpt-lite/latest"
          },
        ],
        defaultModel: "gpt-4o"
      }
    })
      form
        input(type="text" placeholder="Введите имя")
  +section({
    mods: ["dark"],
    title: "Принцип работы онлайн-инструмента",
    subtitle: "Контент генерируется через нейросеть нового поколения ChatGPT от компании Open AI. Она обучена на огромных массивах информации из интернета, знает 24 языка. Программа находит закономерности и создает новые осмысленные тексты:"
  })
    +advantages({
      items: [
        {
          text: "Нейросеть получает задание, раскладывает его на элементы, производит математические операции, вычленяет интент (потребность)."
        },
        {
          text: "Обращается к собственной накопленной базе данных, извлекает оттуда релевантные факты."
        },
        {
          text: "На основе языковой модели и подобранной информации составляет уникальный текст на русском языке."
        }
      ]
    })
  +section({
    title: "Вариативность онлайн-проверки",
    subtitle: "Чтобы получить точные результаты, настройте дополнительные параметры:"
  })
    +check-list({
      items: [
        "Выберите одну из семи вкладок: Title, Description и H1, текст для листинга, карточки, статья, план, FAQ, отзыв.",
        "Выберите дополнительные опции. Например, во вкладке «Title, Description и H1» можно добавить в мета-теги эмодзи.",
        "Настройте режим. Например, текст для карточки может описывать товары или услуги."
      ]
    })
  +section({
    mods: ["size-s", "dark"],
    title: "Видео по генерации текста онлайн"
  })
    +video({
      code: "lf0X6LoHG8M"
    })
