extends ../../layout/landing

block head
  title Ошибка 404
  meta(name="description" content="Ошибка 404")

block content
  +error({
    code: "404",
    description: "Извините, но данной страницы на сайте не найдено."
  })
