mixin ui-colors(props)
  - props = props || {}
  .ui-colors
    table
      thead
        th
        for column in props.columns
          th=column
      tbody
        for color in props.colors
          tr
            th=color
            for column in props.columns
              td
                +ui-c-card({
                  name: color,
                  weight: column
                })
  link(href="./css/ui-colors.min.css" rel="stylesheet")
