include /src/ui/index
include /src/blocks/index

doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if meta.title
      title=meta.title
    if meta.description
      meta(name="description" content=meta.description)
    if meta.keywords
      meta(name="keywords" content=meta.keywords)

    link(href="./favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(href="./css/core.min.css" rel="stylesheet")

    block head
  body.page(
    class={
      'js-smooth-scrolling': smoothScrolling,
      'js-env-development': system.env === 'development'
    }
  )
    #svg-sprite.visually-hidden
      include /src/ui/icon/sprite.svg
    .page__inner
      +header&attributes({class: "page__header"})
      main.page__content
        block content
      +footer&attributes({class: "page__footer"})
      +scroll-to-top&attributes({class: "page__scroll-to-top"})
      +multi-button({
        items: multiButtons
      })&attributes({class: "page__multi-button"})
    block modals
    +welcome-message
    script(src="./assets/libs/jquery-3.7.1.min.js")
    script
      include /src/scripts/iti.js
    script(src="./js/core.min.js")
