include achievements/index
include advantages/index
include cards-slider/index
include cases/index
include check-list/index
include demo-form/index
include document/index
include error/index
include features/index
include icon-cards/index
include intro/index
include login/index
include multi-button/index
include onboarding/index
include onboarding-digits/index
include onboarding-form/index
include partners/index
include register/index
include register-advantages/index
include reset-password/index
include reviews/index
include scroll-to-top/index
include search/index
include tariffs/index
include team/index
include tools-list/index
include video/index
