include achievements/index
include advantages/index
include check-list/index
include demo-form/index
include features/index
include icon-cards/index
include intro/index
include onboarding-form/index
include partners/index
include reviews/index
include tariffs/index
include team/index
include video/index
