mixin welcome-message(props)
  - props = props || {}
  +modal({
    id: "welcome-message-modal",
    title: "Пиксель Тулс — сервис № 1 для решения ваших SEO-задач и работы с нейросетями"
  })
    .welcome-message
      ol.welcome-message__list
        li Модуль ведения SEO-проектов.
        li 47 инструментов для автоматизации.
        li Нажимая «Продолжить» или закрывая окно вы соглашаетесь с использованием cookie-файлов и обработку персональных данных с использованием Яндекс.Метрики и Google Analytics.
      .welcome-message__controls
        +button&attributes({
          'data-fancybox-close': ''
        }) Продолжить
  link(href="./css/welcome-message.min.css" rel="stylesheet")
  script(src="./js/welcome-message.min.js" defer="")
