extends ../../layout/landing

block head
  title Политика в отношении обработки персональных данных в сервисе «Пиксель Тулс»
  meta(name="description" content="Политика в отношении обработки персональных данных в сервисе «Пиксель Тулс»")

block content
  +section({
    title: "Политика в отношении обработки персональных данных в сервисе «Пиксель Тулс»",
    tag: "h1"
  })
    +document
      include /src/blocks/document/policy.pug
