extends /src/layout/landing

block content
  +section({
    title: "Политика в отношении обработки персональных данных в сервисе «Пиксель Тулс»",
    tag: "h1"
  })
    +document
      include /src/blocks/document/policy.pug
