mixin features(props, section)
  - props = props || {}
  +section(section)
    .features.js-features
      .features__slider.swiper.loader
        .swiper-wrapper
          for item in props.items
            .swiper-slide
              +features-card(item)
      +slider-navigation&attributes({class: "features__navigation"})
      +slider-pagination&attributes({class: "features__pagination"})
    link(href="./css/features.css" rel="stylesheet")
    script(src='./js/features.min.js')
