[data-tip] {
  cursor: pointer;
}

.tippy-box[data-theme~='pts'] {
  padding: 0.4rem 0.6rem;

  color: var(--color-gray-darker);

  font-size: var(--fs-t3);

  background-color: var(--color-white);
  border-radius: var(--border-radius);

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);

  .tippy-arrow {
    display: none;
  }
}
